﻿@using SaRaEcomAdmin.Models
@model SaRaEcomAdmin.Models.OccasionalProduct
@{
    ViewBag.Title = "Occasional Product";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var occasionalModel = ViewBag.OccasionalList as List<OccasionalProduct>;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<div class="page-head">
    <div class="page-title">
        <h1>Manage Occasional Product</h1>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add Occasional Product
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SaveOccasionalProduct", "Configuration", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(c => c.ProductId, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(c => c.ProductId, new SelectList(ViewBag.ProductListDropdown, "Value", "Text"), new { @class = "form-control", @placeholder = "Select Product" })
                                @Html.ValidationMessageFor(c => c.ProductId)
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-right">
                                @Html.HiddenFor(c => c.ProductName)
                                <button class="btn btn-success btn-circle" type="submit"><i class="fa fa-save"></i> Save</button>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Occasional Lists
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>PRODUCT NAME</th>
                                <th>SKU</th>
                                <th>IMAGE</th>
                                <th class="text-center" style="width: 20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (occasionalModel != null && occasionalModel.Count != 0)
                            {
                                int counter = 1;
                                foreach (var data in occasionalModel)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td>@data.ProductName</td>
                                        <td>@data.Sku</td>
                                        <td><img style="width: 50px;height: 50px;border: 1px solid #ddd;padding: 3px;" src="@Path.Combine("/Files/ImageProductMain/", data.ProductImage)" /></td>
                                        <td class="text-center">
                                            @Html.ActionLink(" Delete", "DeleteOccasionalProduct", "Configuration", new { id = data.ProductId }, new { @class = "btn btn-danger btn-xs fa fa-trash-o" })
                                        </td>
                                    </tr>
                                    counter = counter + 1;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="text-center">No Data Found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>
    $("#ProductId").change(function() {
        //alert($("#ProductId").val());
        var optionText = $("#ProductId option:selected").text();
        $("#ProductName").val(optionText);
    });
    jQuery(document).ready(function () {
        $('#ProductId').select2();
        @{
            if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
            {
                <text>
                    var message = '@ViewBag.message';


                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "positionClass": "toast-top-center",
                        "onclick": null,
                        "showDuration": "1000",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info(message, 'Information!');
                </text>
            }
        }
    });

</script>

