﻿@using SaRaEcomAdmin.Models
@model SaRaEcomAdmin.Models.PromotionalProductModel
@{
    ViewBag.Title = "PromotionalProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var promotionalProduct = ViewBag.PromotionalProduct as List<PromotionalProductModel>;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<div class="page-head">
    <div class="page-title">
        <h1>Manage Promotional Product</h1>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add Promotional Product
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SavePromotionalProduct", "Configuration", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(c => c.ProductId, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(c => c.ProductId, new SelectList(ViewBag.ProductListDropdown, "Value", "Text"), new { @class = "form-control", @placeholder = "Select Product" })
                                @Html.ValidationMessageFor(c => c.ProductId)
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.StartDate, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.StartDate, new { @class = "form-control datepicker", @placeholder = "Start Date", @autocomplete = "off", @readonly = "readonly" })
                                @Html.ValidationMessageFor(c => c.StartDate)
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.EndDate, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.EndDate, new { @class = "form-control datepicker", @placeholder = "End Date", autocomplete = "off", @readonly = "readonly" })
                                @Html.ValidationMessageFor(c => c.EndDate)
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.PromotionPercentage, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.PromotionPercentage, new { @class = "form-control", @placeholder = "Percentage", @type = "number", @min = 0 })
                                @Html.ValidationMessageFor(c => c.PromotionPercentage)
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.DisplayOrder, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(c => c.DisplayOrder, new { @class = "form-control", @placeholder = "Display Order", @type = "number", @min = 0 })
                                @Html.ValidationMessageFor(c => c.DisplayOrder)
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Save</button>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Promotion Lists
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>PRODUCT NAME</th>
                                <th>SKU</th>
                                <th>Display Order</th>
                                <th>Percentage</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Previous Price</th>
                                <th>New Price</th>
                                <th>Status</th>
                                <th>IMAGE</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (promotionalProduct != null && promotionalProduct.Count != 0)
                            {
                                int counter = 1;
                                foreach (var data in promotionalProduct)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td>@data.ProductName</td>
                                        <td>@data.Sku</td>
                                        <td>@data.DisplayOrder</td>
                                        <td>@data.PromotionPercentage <span> &#37 </span></td>
                                        <td>@data.StartDate</td>
                                        <td>@data.EndDate</td>
                                        <td>@data.PreviousPrice <span> &#2547 </span></td>
                                        <td>@data.NewPrice <span> &#2547 </span></td>
                                        @if (data.Status == "ACTIVE")
                                        {
                                            <td style="color: green">@data.Status</td>
                                        }
                                        else
                                        {
                                            <td style="color: red">@data.Status</td>
                                        }
                                        <td><img style="width: 50px;height: 50px;border: 1px solid #ddd;padding: 3px;" src="@Path.Combine("/Files/ImageProductMain/", data.ProductImage)" /></td>
                                        <td class="text-center">
                                            @Html.ActionLink(" Edit", "PromotionalProducts", "Configuration", new { productId = data.ProductId }, new { @class = "btn btn-success btn-xs fa fa-edit" })
                                            @Html.ActionLink(" Delete", "DeletePromotionalProduct", "Configuration", new { id = data.ProductId }, new { @class = "btn btn-danger btn-xs fa fa-trash-o" })
                                        </td>
                                    </tr>
                                    counter = counter + 1;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="12" class="text-center">No Data Found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
    $(document).ready(function() {
        $('#ProductId').select2();

        @{
            if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
            {
                <text>
                    var message = '@ViewBag.Message';


                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "positionClass": "toast-top-center",
                        "onclick": null,
                        "showDuration": "1000",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info(message, 'Information!');
                </text>
            }
        }
    });
</script>

