﻿@model SaRaEcomAdmin.Models.ProductModel
@{
    ViewBag.Title = "AddOrEditProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <div class="page-title">
        @if (Model.ProductId != 0)
        {
            <h1>Edit Product  <small><a href="@Url.Action("Index", "Product")" style="text-decoration: none !important">go back to product list</a></small></h1>
        }
        else
        {
            <h1>Add Product  <small><a href="@Url.Action("Index", "Product")" style="text-decoration: none !important">go back to product list</a></small></h1>
        }
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box blue" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Product Upload - <span class="step-title">
                        Step 1 of 4
                    </span>
                </div>
                <div class="tools hidden-xs">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("SaveProduct", "Product", FormMethod.Post, new { @class = "form-horizontal", @id = "submit_form", @role = "form", @enctype = "multipart/form-data" }))
                {
                    <div class="form-wizard">
                        <div class="form-body">
                            <ul class="nav nav-pills nav-justified steps">
                                <li>
                                    <a href="#tab1" data-toggle="tab" class="step">
                                        <span class="number">
                                            1
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Product Information
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab" class="step">
                                        <span class="number">
                                            2
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Product Color and Image
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab" class="step active">
                                        <span class="number">
                                            3
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Product Size
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab4" data-toggle="tab" class="step">
                                        <span class="number">
                                            4
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Product Inventory
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab5" data-toggle="tab" class="step">
                                        <span class="number">
                                            5
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Confirm
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="bar" class="progress progress-striped" role="progressbar">
                                <div class="progress-bar progress-bar-success">
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    Your form validation is successful!
                                </div>
                                <div class="tab-pane active" id="tab1">
                                    <h3 class="block">Provide Product Info</h3>
                                    @Html.ValidationSummary()
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="portlet box blue-hoki">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-gift"></i>General information
                                                    </div>
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="form-group margin-right-10">
                                                        @Html.LabelFor(c => c.ProductName, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @Html.TextBoxFor(c => c.ProductName, new { @class = "form-control", @placeholder = "Provide Product Name" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-right-10">
                                                        @Html.LabelFor(c => c.Sku, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @Html.TextBoxFor(c => c.Sku, new { @class = "form-control", @placeholder = "Provide SKU" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-right-10">
                                                        @Html.LabelFor(c => c.ShortDescription, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @Html.TextAreaFor(c => c.ShortDescription, new { @class = "form-control", @placeholder = "Provide Short Description", @rows = "4" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-right-10">
                                                        @Html.LabelFor(c => c.LongDescription, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @Html.TextAreaFor(c => c.LongDescription, new { @class = "wysihtml5 form-control", @placeholder = "Provide Long Description", @rows = "8" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-right-10">
                                                        @Html.LabelFor(c => c.ProductImage, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            <div class="show-image-div show-image-divm">
                                                                <a data-target="#imageModal" data-toggle="modal">
                                                                    @if (Model.ImageString != null)
                                                                    {
                                                                        <img id="showImage" class="show-prev-img show-prev-imgm" src="@Model.ImageString" style="width: 100px; height: 100px; border: 1px solid #ddd; padding: 3px;">
                                                                        @Html.HiddenFor(c => c.ImageString)
                                                                    }
                                                                    else
                                                                    {
                                                                        <img id="showImage" class="show-prev-img show-prev-imgm" style="width: 100px; height: 100px; border: 1px solid #ddd; padding: 3px;">
                                                                    }
                                                                </a>
                                                            </div>
                                                            <div class="fileUpload fileUploadm btn btn-sm btn-primary btn-image btn-imagem">
                                                                <span><i class="fa fa-picture-o"></i> Choose Image</span>
                                                                @Html.TextBoxFor(m => m.ProductImage, "", new { @type = "file", @class = "imageUpload imageUploadm" })
                                                                @Html.HiddenFor(c => c.ProductImage, new { @Value = Model.ImageString })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Product Image Modal-->
                                            <div id="imageModal" class="modal fade" tabindex="-1" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                            <h4 class="modal-title">Product Image</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                                                                <div class="row">
                                                                    @if (Model.ImageString != null)
                                                                    {
                                                                        <img id="displayImage" class="show-prev-img" src="@Model.ImageString" style="width: 100%; height: 100%; border: 1px solid #ddd; padding: 3px;" alt="no image selected">
                                                                    }
                                                                    else
                                                                    {
                                                                        <img id="displayImage" class="show-prev-img" style="width: 100%; height: 100%; border: 1px solid #ddd; padding: 3px;" alt="no image selected">
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" data-dismiss="modal" class="btn default">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Product Image Modal End-->
                                        </div>
                                        <div class="col-md-5">
                                            <div class="portlet box blue-hoki">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-gift"></i>Mappings
                                                    </div>
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="form-group">
                                                        @Html.LabelFor(c => c.FabricId, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @Html.DropDownListFor(c => c.FabricId, ViewBag.FabricList as SelectList, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(c => c.UnitId, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @Html.DropDownListFor(c => c.UnitId, ViewBag.UnitList as SelectList, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(c => c.CategoryId, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @Html.DropDownListFor(c => c.CategoryId, ViewBag.CategoryList as SelectList, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(c => c.SubCategoryId, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @if (Model.SubCategoryId != 0)
                                                            {
                                                                @Html.DropDownListFor(m => m.SubCategoryId, ViewBag.SubCategoryList as SelectList, new { @class = "form-control" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(m => m.SubCategoryId, new SelectList(" "), new { @class = "form-control", @disabled = true })
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(c => c.SubSubCategoryId, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @if (Model.SubSubCategoryId != 0)
                                                            {
                                                                @Html.DropDownListFor(m => m.SubSubCategoryId, ViewBag.SubSubCategoryList as SelectList, new { @class = "form-control" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(m => m.SubSubCategoryId, new SelectList(" "), new { @class = "form-control", @disabled = true })
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet box blue-hoki">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-gift"></i>Prices
                                                    </div>
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="form-group margin-right-10">
                                                        @Html.LabelFor(c => c.PurchaseAmount, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @Html.TextBoxFor(c => c.PurchaseAmount, new { @class = "form-control", @placeholder = "Provide Purchase Price" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-right-10">
                                                        @Html.LabelFor(c => c.SellAmount, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @Html.TextBoxFor(c => c.SellAmount, new { @class = "form-control", @placeholder = "Provide Sell Price" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(c => c.IncludeVat, new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @*<input type="checkbox" checked="" class="make-switch" data-size="small">*@
                                                            @Html.CheckBoxFor(c => c.IncludeVat, new { @class = "make-switch" })

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <h3 class="block">Provide Color and Image Info</h3>
                                    <div class="portlet box blue-hoki">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-gift"></i>Color and Image
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="form-group margin-right-10">
                                                @Html.LabelFor(c => c.PurchaseAmount, new { @class = "control-label col-md-3" })
                                                <div class="col-md-9">
                                                    @Html.TextBoxFor(c => c.PurchaseAmount, new { @class = "form-control", @placeholder = "Provide Purchase Price" })
                                                </div>
                                            </div>
                                            <div class="form-group margin-right-10">
                                                @Html.LabelFor(c => c.SellAmount, new { @class = "control-label col-md-3" })
                                                <div class="col-md-9">
                                                    @Html.TextBoxFor(c => c.SellAmount, new { @class = "form-control", @placeholder = "Provide Sell Price" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.IncludeVat, new { @class = "control-label col-md-3" })
                                                <div class="col-md-9">
                                                    @*<input type="checkbox" checked="" class="make-switch" data-size="small">*@
                                                    @Html.CheckBoxFor(c => c.IncludeVat, new { @class = "make-switch" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab3">
                                    <h3 class="block">Provide your billing and credit card details</h3>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Card Holder Name
                                            <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="card_name" />
                                            <span class="help-block">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Card Number
                                            <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="card_number" />
                                            <span class="help-block">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            CVC
                                            <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" placeholder="" class="form-control" name="card_cvc" />
                                            <span class="help-block">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Expiration(MM/YYYY)
                                            <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" placeholder="MM/YYYY" maxlength="7" class="form-control" name="card_expiry_date" />
                                            <span class="help-block">
                                                e.g 11/2020
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Payment Options
                                            <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-4">
                                            <div class="checkbox-list">
                                                <label>
                                                    <input type="checkbox" name="payment[]" value="1" data-title="Auto-Pay with this Credit Card." /> Auto-Pay with this Credit Card
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="payment[]" value="2" data-title="Email me monthly billing." /> Email me monthly billing
                                                </label>
                                            </div>
                                            <div id="form_payment_error">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab4">
                                    <h3 class="block">Confirm your account</h3>
                                    <h4 class="form-section">Account</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Username:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="username">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Email:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="email">
                                            </p>
                                        </div>
                                    </div>
                                    <h4 class="form-section">Profile</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Fullname:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="fullname">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Gender:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="gender">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Phone:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="phone">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Address:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="address">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">City/Town:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="city">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Country:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="country">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Remarks:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="remarks">
                                            </p>
                                        </div>
                                    </div>
                                    <h4 class="form-section">Billing</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Card Holder Name:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_name">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Card Number:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_number">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">CVC:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_cvc">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Expiration:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_expiry_date">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Payment Options:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="payment">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="javascript:;" class="btn default button-previous">
                                        <i class="m-icon-swapleft"></i> Back
                                    </a>
                                    <a href="javascript:;" class="btn blue button-next">
                                        Continue <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                    <a href="javascript:;" class="btn green button-submit">
                                        Submit <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    jQuery(document).ready(function () {
        FormWizard.init();
        //For SubCategory Data
        $("#CategoryId").change(function () {
            $("#SubCategoryId").empty();
            $("#SubSubCategoryId").empty();
            var catId = $("#CategoryId").val();
            if (!isNaN(catId) && catId) {
                $("#SubCategoryId").prop("disabled", false);
                $.ajax({
                    type: 'POST',
                    url: '/Product/GetSubCategory/',
                    dataType: 'json',
                    data: { categoryId: $("#CategoryId").val() },
                    success: function (subCategoryId) {
                        $.each(subCategoryId, function (i, subCategoryId) {
                            $("#SubCategoryId").append('<option value="' + subCategoryId.Value + '">' + subCategoryId.Text + '</option>');
                        });
                    },
                    error: function (ex) { alert('Failed to retrieve SubCategory List.' + ex); }
                });
            } else {
                $("#SubCategoryId").prop("disabled", true);
                $("#SubSubCategoryId").prop("disabled", true);
            }
        });

        //For SubSubCategory Data
        $("#SubCategoryId").change(function () {
            $("#SubSubCategoryId").empty();
            var subCatId = $("#SubCategoryId").val();
            if (!isNaN(subCatId) && subCatId) {
                $("#SubSubCategoryId").prop("disabled", false);
                $.ajax({
                    type: 'POST',
                    url: '/Product/GetSubSubCategory/',
                    dataType: 'json',
                    data: { categoryId: $("#CategoryId").val(), subCategoryId: $("#SubCategoryId").val() },
                    success: function (subSubCategoryId) {
                        $.each(subSubCategoryId, function (i, subSubCategoryId) {
                            $("#SubSubCategoryId").append('<option value="' + subSubCategoryId.Value + '">' + subSubCategoryId.Text + '</option>');
                        });
                    },
                    error: function (ex) { alert('Failed to retrieve SubSubCategory List.' + ex); }
                });
            } else {
                $("#SubSubCategoryId").prop("disabled", true);
            }
        });

        ComponentsEditors.init();
    });

    //For SubSubCategory Data
    function newReadUrl(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(input).parents('.fileUploadm').siblings('.show-image-divm').find('.show-prev-imgm').attr('src', e.target.result);
                $("#displayImage").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $(document).on('change', '.imageUploadm', function () {
        newReadUrl(this);
    });
    var FormWizard = function () {


        return {
            //main function to initiate the module
            init: function () {
                if (!jQuery().bootstrapWizard) {
                    return;
                }

                var form = $('#submit_form');
                var error = $('.alert-danger', form);
                var success = $('.alert-success', form);

                var displayConfirm = function () {
                    $('#tab4 .form-control-static', form).each(function () {
                        var input = $('[name="' + $(this).attr("data-display") + '"]', form);
                        if (input.is(":radio")) {
                            input = $('[name="' + $(this).attr("data-display") + '"]:checked', form);
                        }
                        if (input.is(":text") || input.is("textarea")) {
                            $(this).html(input.val());
                        } else if (input.is("select")) {
                            $(this).html(input.find('option:selected').text());
                        } else if (input.is(":radio") && input.is(":checked")) {
                            $(this).html(input.attr("data-title"));
                        } else if ($(this).attr("data-display") == 'payment[]') {
                            var payment = [];
                            $('[name="payment[]"]:checked', form).each(function () {
                                payment.push($(this).attr('data-title'));
                            });
                            $(this).html(payment.join("<br>"));
                        }
                    });
                }

                var handleTitle = function (tab, navigation, index) {
                    var total = navigation.find('li').length;
                    var current = index + 1;
                    // set wizard title
                    $('.step-title', $('#form_wizard_1')).text('Step ' + (index + 1) + ' of ' + total);
                    // set done steps
                    jQuery('li', $('#form_wizard_1')).removeClass("done");
                    var li_list = navigation.find('li');
                    for (var i = 0; i < index; i++) {
                        jQuery(li_list[i]).addClass("done");
                    }

                    if (current == 1) {
                        $('#form_wizard_1').find('.button-previous').hide();
                    } else {
                        $('#form_wizard_1').find('.button-previous').show();
                    }

                    if (current >= total) {
                        $('#form_wizard_1').find('.button-next').hide();
                        $('#form_wizard_1').find('.button-submit').show();
                        displayConfirm();
                    } else {
                        $('#form_wizard_1').find('.button-next').show();
                        $('#form_wizard_1').find('.button-submit').hide();
                    }
                    Metronic.scrollTo($('.page-title'));
                }

                // default form wizard
                $('#form_wizard_1').bootstrapWizard({
                    'nextSelector': '.button-next',
                    'previousSelector': '.button-previous',
                    onTabClick: function (tab, navigation, index, clickedIndex) {
                        return false;
                        /*
                        success.hide();
                        error.hide();
                        if (form.valid() == false) {
                            return false;
                        }
                        handleTitle(tab, navigation, clickedIndex);
                        */
                    },
                    onNext: function (tab, navigation, index) {
                        success.hide();
                        error.hide();

                        if (form.valid() == false) {
                            return false;
                        }

                        handleTitle(tab, navigation, index);
                    },
                    onPrevious: function (tab, navigation, index) {
                        success.hide();
                        error.hide();

                        handleTitle(tab, navigation, index);
                    },
                    onTabShow: function (tab, navigation, index) {
                        var total = navigation.find('li').length;
                        var current = index + 1;
                        var $percent = (current / total) * 100;
                        $('#form_wizard_1').find('.progress-bar').css({
                            width: $percent + '%'
                        });
                    }
                });

                $('#form_wizard_1').find('.button-previous').hide();
                $('#form_wizard_1 .button-submit').click(function () {
                    alert('Finished! Hope you like it :)');
                }).hide();
            }

        };

    }();
    var ComponentsEditors = function () {

        var handleWysihtml5 = function () {
            if (!jQuery().wysihtml5) {
                return;
            }

            if ($('.wysihtml5').size() > 0) {
                $('.wysihtml5').wysihtml5({
                    "stylesheets": ["/Content/Assets/wysiwyg-color.css"]
                });
            }
        }

        return {
            //main function to initiate the module
            init: function () {
                handleWysihtml5();
            }
        };

    }();
</script>