﻿@model IEnumerable<SaRaEcomAdmin.Models.ProductModel>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <div class="page-title">
        <h1>Manage Product</h1>
    </div>
    <div class="page-toolbar">
        <a href="@Url.Action("AddOrEditProduct", "Product")" class="btn btn-circle btn-success"><i class="fa fa-plus-circle"></i> Add New</a>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Product List
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="sample_4">
                    <thead>
                        <tr>
                            <th>
                                Rendering engine
                            </th>
                            <th>
                                Browser
                            </th>
                            <th class="hidden-xs">
                                Platform(s)
                            </th>
                            <th class="hidden-xs">
                                Engine version
                            </th>
                            <th class="hidden-xs">
                                CSS grade
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Trident
                            </td>
                            <td>
                                Internet Explorer 4.0
                            </td>
                            <td>
                                Win 95+
                            </td>
                            <td>
                                4
                            </td>
                            <td>
                                X
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Trident
                            </td>
                            <td>
                                Internet Explorer 5.0
                            </td>
                            <td>
                                Win 95+
                            </td>
                            <td>
                                5
                            </td>
                            <td>
                                C
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Trident
                            </td>
                            <td>
                                Internet Explorer 5.5
                            </td>
                            <td>
                                Win 95+
                            </td>
                            <td>
                                5.5
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Trident
                            </td>
                            <td>
                                Internet Explorer 6
                            </td>
                            <td>
                                Win 98+
                            </td>
                            <td>
                                6
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Trident
                            </td>
                            <td>
                                Internet Explorer 7
                            </td>
                            <td>
                                Win XP SP2+
                            </td>
                            <td>
                                7
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Trident
                            </td>
                            <td>
                                AOL browser (AOL desktop)
                            </td>
                            <td>
                                Win XP
                            </td>
                            <td>
                                6
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Firefox 1.0
                            </td>
                            <td>
                                Win 98+ / OSX.2+
                            </td>
                            <td>
                                1.7
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Firefox 1.5
                            </td>
                            <td>
                                Win 98+ / OSX.2+
                            </td>
                            <td>
                                1.8
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Firefox 2.0
                            </td>
                            <td>
                                Win 98+ / OSX.2+
                            </td>
                            <td>
                                1.8
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Firefox 3.0
                            </td>
                            <td>
                                Win 2k+ / OSX.3+
                            </td>
                            <td>
                                1.9
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Camino 1.0
                            </td>
                            <td>
                                OSX.2+
                            </td>
                            <td>
                                1.8
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Camino 1.5
                            </td>
                            <td>
                                OSX.3+
                            </td>
                            <td>
                                1.8
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Netscape 7.2
                            </td>
                            <td>
                                Win 95+ / Mac OS 8.6-9.2
                            </td>
                            <td>
                                1.7
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Netscape Browser 8
                            </td>
                            <td>
                                Win 98SE+
                            </td>
                            <td>
                                1.7
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Netscape Navigator 9
                            </td>
                            <td>
                                Win 98+ / OSX.2+
                            </td>
                            <td>
                                1.8
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Mozilla 1.0
                            </td>
                            <td>
                                Win 95+ / OSX.1+
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Mozilla 1.1
                            </td>
                            <td>
                                Win 95+ / OSX.1+
                            </td>
                            <td>
                                1.1
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Mozilla 1.2
                            </td>
                            <td>
                                Win 95+ / OSX.1+
                            </td>
                            <td>
                                1.2
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Mozilla 1.3
                            </td>
                            <td>
                                Win 95+ / OSX.1+
                            </td>
                            <td>
                                1.3
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Mozilla 1.4
                            </td>
                            <td>
                                Win 95+ / OSX.1+
                            </td>
                            <td>
                                1.4
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Mozilla 1.5
                            </td>
                            <td>
                                Win 95+ / OSX.1+
                            </td>
                            <td>
                                1.5
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Mozilla 1.6
                            </td>
                            <td>
                                Win 95+ / OSX.1+
                            </td>
                            <td>
                                1.6
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Mozilla 1.7
                            </td>
                            <td>
                                Win 98+ / OSX.1+
                            </td>
                            <td>
                                1.7
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Mozilla 1.8
                            </td>
                            <td>
                                Win 98+ / OSX.1+
                            </td>
                            <td>
                                1.8
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Seamonkey 1.1
                            </td>
                            <td>
                                Win 98+ / OSX.2+
                            </td>
                            <td>
                                1.8
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gecko
                            </td>
                            <td>
                                Epiphany 2.20
                            </td>
                            <td>
                                Gnome
                            </td>
                            <td>
                                1.8
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Webkit
                            </td>
                            <td>
                                Safari 1.2
                            </td>
                            <td>
                                OSX.3
                            </td>
                            <td>
                                125.5
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Webkit
                            </td>
                            <td>
                                Safari 1.3
                            </td>
                            <td>
                                OSX.3
                            </td>
                            <td>
                                312.8
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Webkit
                            </td>
                            <td>
                                Safari 2.0
                            </td>
                            <td>
                                OSX.4+
                            </td>
                            <td>
                                419.3
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Webkit
                            </td>
                            <td>
                                Safari 3.0
                            </td>
                            <td>
                                OSX.4+
                            </td>
                            <td>
                                522.1
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Webkit
                            </td>
                            <td>
                                OmniWeb 5.5
                            </td>
                            <td>
                                OSX.4+
                            </td>
                            <td>
                                420
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Webkit
                            </td>
                            <td>
                                iPod Touch / iPhone
                            </td>
                            <td>
                                iPod
                            </td>
                            <td>
                                420.1
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Webkit
                            </td>
                            <td>
                                S60
                            </td>
                            <td>
                                S60
                            </td>
                            <td>
                                413
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Presto
                            </td>
                            <td>
                                Opera 7.0
                            </td>
                            <td>
                                Win 95+ / OSX.1+
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Presto
                            </td>
                            <td>
                                Opera 7.5
                            </td>
                            <td>
                                Win 95+ / OSX.2+
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Presto
                            </td>
                            <td>
                                Opera 8.0
                            </td>
                            <td>
                                Win 95+ / OSX.2+
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Presto
                            </td>
                            <td>
                                Opera 8.5
                            </td>
                            <td>
                                Win 95+ / OSX.2+
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Presto
                            </td>
                            <td>
                                Opera 9.0
                            </td>
                            <td>
                                Win 95+ / OSX.3+
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Presto
                            </td>
                            <td>
                                Opera 9.2
                            </td>
                            <td>
                                Win 88+ / OSX.3+
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Presto
                            </td>
                            <td>
                                Opera 9.5
                            </td>
                            <td>
                                Win 88+ / OSX.3+
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Presto
                            </td>
                            <td>
                                Opera for Wii
                            </td>
                            <td>
                                Wii
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Presto
                            </td>
                            <td>
                                Nokia N800
                            </td>
                            <td>
                                N800
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Presto
                            </td>
                            <td>
                                Nintendo DS browser
                            </td>
                            <td>
                                Nintendo DS
                            </td>
                            <td>
                                8.5
                            </td>
                            <td>
                                C/A<sup>1</sup>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        TableAdvanced.init();
    });

    var TableAdvanced = function () {

        var initTable4 = function () {
            var table = $('#sample_4');

            var oTable = table.dataTable({
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "Show _MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },

                "columnDefs": [{
                    "orderable": false,
                    "targets": [0]
                }],
                "order": [
                    [1, 'asc']
                ],
                "lengthMenu": [
                    [5, 15, 20, 50, -1],
                    [5, 15, 20, 50, "All"] // change per page values here
                ],
                // set the initial value
                "pageLength": 10
            });

            /* Formatting function for row expanded details */
            function fnFormatDetails(oTable, nTr) {
                var aData = oTable.fnGetData(nTr);
                var sOut = '<table>';
                sOut += '<tr><td>Platform(s):</td><td>' + aData[2] + '</td></tr>';
                sOut += '<tr><td>Engine version:</td><td>' + aData[3] + '</td></tr>';
                sOut += '<tr><td>CSS grade:</td><td>' + aData[4] + '</td></tr>';
                sOut += '<tr><td>Others:</td><td>Could provide a link here</td></tr>';
                sOut += '</table>';

                return sOut;
            }

            /*
             * Insert a 'details' column to the table
             */
            var nCloneTh = document.createElement('th');
            nCloneTh.className = "table-checkbox";

            var nCloneTd = document.createElement('td');
            nCloneTd.innerHTML = '<span class="row-details row-details-close"></span>';

            table.find('thead tr').each(function () {
                this.insertBefore(nCloneTh, this.childNodes[0]);
            });

            table.find('tbody tr').each(function () {
                this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
            });

            var tableWrapper = $('#sample_4_wrapper'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
            var tableColumnToggler = $('#sample_4_column_toggler');

            /* modify datatable control inputs */
            tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown

            /* Add event listener for opening and closing details
             * Note that the indicator for showing which row is open is not controlled by DataTables,
             * rather it is done here
             */
            table.on('click', ' tbody td .row-details', function () {
                var nTr = $(this).parents('tr')[0];
                if (oTable.fnIsOpen(nTr)) {
                    /* This row is already open - close it */
                    $(this).addClass("row-details-close").removeClass("row-details-open");
                    oTable.fnClose(nTr);
                } else {
                    /* Open this row */
                    $(this).addClass("row-details-open").removeClass("row-details-close");
                    oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
                }
            });

            /* handle show/hide columns*/
            $('input[type="checkbox"]', tableColumnToggler).change(function () {
                /* Get the DataTables object again - this is not a recreation, just a get of the object */
                var iCol = parseInt($(this).attr("data-column"));
                var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
                oTable.fnSetColumnVis(iCol, (bVis ? false : true));
            });
        }

        return {

            //main function to initiate the module
            init: function () {

                if (!jQuery().dataTable) {
                    return;
                }
                initTable4();
            }

        };

    }();

</script>