﻿@using SaRaEcomAdmin.Models
@model SaRaEcomAdmin.Models.Discount
@{
    ViewBag.Title = "Discounts";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var discountList = ViewBag.DiscountList as List<Discount>;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<div class="page-head">
    <div class="page-title">
        <h1>Manage Discounts</h1>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add Discounts
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SaveDiscount", "Promotions", FormMethod.Post, new { @class = "form-horizontal", @id = "DiscountSave" }))
                {
                    @Html.AntiForgeryToken()
                <div class="form-body">
                    <div class="form-group">
                        @Html.LabelFor(c => c.DiscountName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(c => c.DiscountName, new { @class = "form-control input-circle", @placeholder = "Discount Name", @autocomplete = "off" })
                            @Html.ValidationMessageFor(c => c.DiscountName)
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.DiscountType, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(c => c.DiscountType, new SelectList(ViewBag.DiscountType, "Value", "Text"), new { @class = "form-control input-circle", @placeholder = "Select Discount type" })
                            @Html.ValidationMessageFor(c => c.DiscountType)
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group hidden" id="CategoryBlock">
                        @Html.LabelFor(c => c.CategoryId, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(c => c.CategoryId, new SelectList(ViewBag.CategoryList, "Value", "Text"), new { @class = "form-control input-circle", @placeholder = "Select Category" })
                            @Html.ValidationMessageFor(c => c.CategoryId)
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.StartDate, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(c => c.StartDate, new { @class = "form-control input-circle datepicker", @placeholder = "Start Date", @autocomplete = "off", @readonly = "readonly" })
                            @Html.ValidationMessageFor(c => c.StartDate)
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.EndDate, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(c => c.EndDate, new { @class = "form-control input-circle datepicker", @placeholder = "End Date", autocomplete = "off", @readonly = "readonly" })
                            @Html.ValidationMessageFor(c => c.EndDate)
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.UseAmount, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6" style="margin-top: 10px;">
                            @Html.CheckBoxFor(c => c.UseAmount, new { @class = "form-control checker" })
                            @Html.ValidationMessageFor(c => c.UseAmount)
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group" id="DiscountBlock">
                        @Html.LabelFor(c => c.DiscountPercentage, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(c => c.DiscountPercentage, new { @class = "form-control input-circle", @placeholder = "Percentage", @type = "number", @min = 0 })
                            @Html.ValidationMessageFor(c => c.DiscountPercentage)
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group hidden" id="AmountBlock">
                        @Html.LabelFor(c => c.DiscountAmount, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(c => c.DiscountAmount, new { @class = "form-control input-circle", @placeholder = "Amount", @type = "number", @min = 0, value = "0" })
                            @Html.ValidationMessageFor(c => c.DiscountAmount)
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group hidden">
                        @Html.LabelFor(c => c.CouponCode, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(c => c.CouponCode, new { @class = "form-control input-circle", @placeholder = "Coupon Code" })
                            @Html.ValidationMessageFor(c => c.CouponCode)
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 text-right">
                            @Html.LabelFor(c => c.IsActive, new { @class = "control-label" })
                        </div>
                        <div class="col-sm-9">
                            @Html.CheckBoxFor(c => c.IsActive, new { @class = "make-switch" })
                            @Html.ValidationMessageFor(c => c.IsActive)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-right">
                            @Html.HiddenFor(c => c.DiscountId)
                            <button class="btn btn-danger btn-circle" type="button" id="clearDiscount"><i class="fa fa-refresh"></i> Clear</button>
                            <button class="btn btn-success btn-circle" type="submit" id="discountSaveBtn"><i class="fa fa-save"></i> Save</button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                }
            </div>
        </div>

        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Discount Lists
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Discount Name</th>
                                <th>Discount Type</th>
                                <th>Category</th>
                                <th>Discount</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (discountList != null && discountList.Count != 0)
                            {
                                int counter = 1;
                                foreach (var data in discountList)
                                {
                            <tr>
                                <td>@counter</td>
                                <td>@data.DiscountName</td>
                                <td>@data.DiscountType</td>
                                <td>@data.CategoryName</td>
                                @if (data.DiscountAmount != null && data.DiscountAmount > 0)
                                {
                                <td>@data.DiscountAmount <span> &#2547 </span></td>
                                }
                                else
                                {
                                <td>@data.DiscountPercentage <span> &#37 </span></td>
                                }

                                <td>@data.StartDate </td>
                                <td>@data.EndDate</td>
                                @if (data.IsActive)
                                {
                                    <td style="color: green">Active</td>
                                }
                                else
                                {
                                    <td style="color: red">Inactive</td>
                                }
                                <td class="text-center">
                                    @Html.ActionLink(" Edit", "Index", "Promotions", new { discountId = data.DiscountId }, new { @class = "btn btn-success btn-xs fa fa-edit" })
                                    @Html.ActionLink(" Delete", "DeletePromotionalProduct", "Configuration", new { id = data.DiscountId }, new { @class = "btn btn-danger btn-xs fa fa-trash-o" })
                                </td>
                            </tr>
                                    counter = counter + 1;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="12" class="text-center">No Data Found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
    $(document).ready(function() {
        @{
            if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
            {
                <text>
                    var message = '@ViewBag.Message';


                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "positionClass": "toast-top-center",
                        "onclick": null,
                        "showDuration": "1000",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info(message, 'Information!');
                </text>
            }
        }

        $("#DiscountType").change(function () {
            var discountType = $("#DiscountType").val();
            if (discountType == "Assigned to category") {
                $("#CategoryBlock").removeClass('hidden');
            } else {
                $("#CategoryBlock").addClass('hidden');
                $("#CategoryId").val("");
            }
        });

        $("#clearDiscount").click(function() {
            window.location.href = "/Promotions/Index/";
        });

        $("#UseAmount").click(function () {

            if ($(this).prop("checked") == true) {
                $('#DiscountBlock').addClass('hidden');
                $('#DiscountBlock').val('');
                $('#AmountBlock').removeClass('hidden');
                $('#AmountBlock').val('');
            }
            else if ($(this).prop("checked") == false) {
                $('#DiscountBlock').removeClass('hidden');
                $('#DiscountBlock').val('');
                $('#AmountBlock').addClass('hidden');
                $('#AmountBlock').val('');
            }
        });

        $(document).on('click', '#discountSaveBtn', function (e) {
            e.preventDefault();

            var discountName = $("#DiscountName").val();
            var discountType = $("#DiscountType").val();
            var categoryId = $("#CategoryId").val();
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();
            var amount = $("#EndDiscountAmountDate").val();
            var percentage = $("#DiscountPercentage").val();

            if (amount != null || percentage != null) {
                if (discountName && startDate && endDate && discountType) {
                    if (discountType == "Assigned to category") {
                        if (categoryId) {
                            $('#DiscountSave').submit();
                        } else {
                            $.dialog({
                                title: 'Required!',
                                content: 'Category is required!!!'
                            });
                        }
                    } else {
                        $('#DiscountSave').submit();
                    }
                }else {
                    $.dialog({
                        title: 'Required!',
                        content: 'All field is required!!!'
                    });
                }
            }else {
                $.dialog({
                    title: 'Required!',
                    content: 'discount amount or percentage is required!!!'
                });
            }
        });

        //$("#DiscountSave").submit(function(e){
        //    e.preventDefault();
        //});

    });
</script>

