﻿@using SaRaEcomAdmin.Models
@model SaRaEcomAdmin.Models.ColorModel
@{
    ViewBag.Title = "Color";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var colorModel = ViewBag.ColorList as List<ColorModel>;
}
<link href="/Content/Assets/jquery-minicolors/jquery.minicolors.css" rel="stylesheet" type="text/css" />

<div class="page-head">
    <div class="page-title">
        <h1>Manage Color</h1>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add Color
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SaveColor", "Setup", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <div class="form-group margin-top-15">
                            @Html.LabelFor(c => c.ColorName, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                <div class="input-icon">
                                    <i class="fa fa-text-width"></i>
                                    @Html.TextBoxFor(c => c.ColorName, new { @class = "form-control input-circle", @placeholder = "Color Name" })
                                    @Html.ValidationMessageFor(c => c.ColorName)
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.ColorCode, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                @*<input type="text" id="wheel-demo" class="form-control demo" data-control="wheel" value="#ff99ee">*@
                                @Html.TextBoxFor(c => c.ColorCode, new { @class = "form-control demo", @placeholder = "Color Code", data_control = "wheel", autocomplete = "off" })
                                @Html.ValidationMessageFor(c => c.ColorCode)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-right">
                                @Html.HiddenFor(c => c.ColorId)
                                <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Save</button>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Color Lists
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="colorTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Color Name</th>
                                <th>Color</th>
                                <th class="text-center" style="width: 20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (colorModel != null && colorModel.Count > 0)
                            {
                                int counter = 1;
                                foreach (var data in colorModel)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td>@data.ColorName</td>
                                        <td><div style="border-radius: 50%; background-color: @data.ColorCode; width: 30px; height: 30px;"></div></td>
                                        <td class="text-center">
                                            @Html.ActionLink(" Edit", "Color", "Setup", new { id = data.ColorId }, new { @class = "btn btn-success fa fa-edit" }) ||
                                            @Html.ActionLink(" Delete", "DeleteColor", "Setup", new { id = data.ColorId }, new { @class = "btn btn-danger fa fa-trash-o" })
                                        </td>
                                    </tr>
                                    counter = counter + 1;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3" class="text-center">No Data Found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Content/Assets/bootstrap-selectsplitter/bootstrap-selectsplitter.min.js" type="text/javascript"></script>
<script src="/Content/Assets/jquery-minicolors/jquery.minicolors.min.js" type="text/javascript"></script>
<script src="/Scripts/components-form-tools2.js"></script>

@Scripts.Render("~/bundles/jqueryval")

<script>
    jQuery(document).ready(function () {
        ComponentsFormTools2.init();
        var table = $("#colorTable").dataTable();
        @{
        if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
        {
        <text>
        var message = '@ViewBag.message';


        toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-center",
                    "onclick": null,
                    "showDuration": "1000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
        }
        toastr.info(message, 'Information!');
        </text>
        }
     }
    });

</script>