﻿@using SaRaEcomAdmin.Models
@model SaRaEcomAdmin.Models.SizeModel
@{
    ViewBag.Title = "Size";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var sizeModel = ViewBag.SizeList as List<SizeModel>;
}

<div class="page-head">
    <div class="page-title">
        <h1>Manage Size</h1>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add Size
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SaveSize", "Setup", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <div class="form-group margin-top-15">
                            @Html.LabelFor(c => c.SizeName, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                <div class="input-icon">
                                    <i class="fa fa-text-width"></i>
                                    @Html.TextBoxFor(c => c.SizeName, new { @class = "form-control input-circle", @placeholder = "Size Name" })
                                    @Html.ValidationMessageFor(c => c.SizeName)
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-right">
                                @Html.HiddenFor(c => c.SizeId)
                                <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Save</button>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Size Lists
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="sizeTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Size Name</th>
                                <th class="text-center" style="width: 20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (sizeModel != null && sizeModel.Count != 0)
                            {
                                int counter = 1;
                                foreach (var data in sizeModel)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td>@data.SizeName</td>
                                        <td class="text-center">
                                            @Html.ActionLink(" Edit", "Size", "Setup", new { id = data.SizeId }, new { @class = "btn btn-success fa fa-edit" }) ||
                                            @Html.ActionLink("Delete", "DeleteSize", "Setup", new { id = data.SizeId }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                    counter = counter + 1;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3" class="text-center">No Data Found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    jQuery(document).ready(function () {
        var table = $("#sizeTable").dataTable();
        @{
        if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
        {
        <text>
        var message = '@ViewBag.message';


        toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-center",
                    "onclick": null,
                    "showDuration": "1000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
        }
        toastr.info(message, 'Information!');
        </text>
        }
     }
    });

</script>