﻿@using SaRaEcomAdmin.Models
@model SaRaEcomAdmin.Models.PrivilegeCardModel
@{
    ViewBag.Title = "PrivilegeCard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var privilegeCardModel = ViewBag.CardList as List<PrivilegeCardModel>;
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<div class="page-head">
    <div class="page-title">
        <h1>Manage Privilege Card</h1>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add Privilege Card
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("PrivilegeCardSave", "DiscountAndOffer", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(c => c.CardNumber, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                <div class="input-icon">
                                    <i class="fa fa-text-width"></i>
                                    @Html.TextBoxFor(c => c.CardNumber, new { @class = "form-control input-circle", @placeholder = "Card Number" })
                                    @Html.ValidationMessageFor(c => c.CardNumber)
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.Discount, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                <div class="input-icon">
                                    <i class="fa fa-list-ol"></i>
                                    @Html.TextBoxFor(c => c.Discount, new { @class = "form-control input-circle", @placeholder = "Discount Percent", @type = "number" })
                                    @Html.ValidationMessageFor(c => c.Discount)
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.StartDate, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                <div class="input-icon">
                                    <i class="fa fa-list-ol"></i>
                                    @Html.TextBoxFor(c => c.StartDate, new { @class = "form-control input-circle datepicker", @placeholder = "Start Date", @autocomplete = "off", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(c => c.StartDate)
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.EndDate, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                <div class="input-icon">
                                    <i class="fa fa-list-ol"></i>
                                    @Html.TextBoxFor(c => c.EndDate, new { @class = "form-control input-circle datepicker", @placeholder = "End Date", @autocomplete = "off", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(c => c.EndDate)
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 text-right">
                                @Html.LabelFor(c => c.IsActive, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(c => c.IsActive, new { @class = "make-switch" })
                                @Html.ValidationMessageFor(c => c.IsActive)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-right">
                                @Html.HiddenFor(c => c.CardId)
                                <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Save</button>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Card Lists
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="categoryTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Card Number</th>
                                <th>Discount Percent</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Active Status</th>
                                <th class="text-center" style="width: 20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (privilegeCardModel != null && privilegeCardModel.Count != 0)
                            {
                                int counter = 1;
                                foreach (var data in privilegeCardModel)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td>@data.CardNumber</td>
                                        <td>@data.Discount %</td>
                                        <td>@data.StartDate</td>
                                        <td>@data.EndDate</td>
                                        <td>
                                            @{
                                                if (data.IsActive)
                                                {
                                                    <p>Active</p>
                                                }
                                                else
                                                {
                                                    <p>Inactive</p>
                                                }
                                            }
                                        </td>
                                        <td class="text-center">
                                            @Html.ActionLink(" Edit", "PrivilegeCard", "DiscountAndOffer", new { id = data.CardId }, new { @class = "btn btn-success fa fa-edit" }) ||
                                            @Html.ActionLink("Delete", "PrivilegeCardDelete", "DiscountAndOffer", new { id = data.CardId }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                    counter = counter + 1;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
    jQuery(document).ready(function () {

        var table = $("#categoryTable").dataTable();

        @{
        if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
        {
        <text>
            var message = '@ViewBag.message';


            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.info(message, 'Information!');
        </text>
        }
     }
    });

</script>