﻿@model SaRaEcomAdmin.Models.CatalogModel
@{
    ViewBag.Title = "ProductReview";
}

<div class="page-head">
    <div class="page-title">
        <h1>Manage Product Review</h1>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Product Review List
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tabbable-custom">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1_1_1" data-toggle="tab" aria-expanded="true">
                                Approve Pending List (@Model.PendingReview.Count())
                            </a>
                        </li>
                        <li class="">
                            <a href="#tab_1_1_2" data-toggle="tab" aria-expanded="false">
                                Approved List (@Model.ApprovedReview.Count())
                            </a>
                        </li>
                        <li class="">
                            <a href="#tab_1_1_3" data-toggle="tab" aria-expanded="false">
                                Reject List (@Model.RejectedReview.Count())
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1_1">
                            <table class="table table-responsive table-hover table-bordered table-striped" id="PendingReview">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product Name</th>
                                    <th>SKU</th>
                                    <th>Customer Name</th>
                                    <th>Review Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                @{
                                    int counter1 = 1;
                                    foreach (var pendingReview in Model.PendingReview)
                                    {
                                        <tr>
                                            <td>@counter1</td>
                                            <td>@pendingReview.ProductName</td>
                                            <td>@pendingReview.Sku</td>
                                            <td>@pendingReview.CustomerName</td>
                                            <td>@pendingReview.ProductReviewDate</td>
                                            <td><span class="label label-danger">Pending...</span></td>
                                            <td><a href="#" id="viewPendingReview" data-id="@pendingReview.ProductReviewId" class="btn btn-success btn-xs fa fa-eye"> View</a></td>
                                        </tr>
                                        counter1 = counter1 + 1;
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab_1_1_2">
                            <table class="table table-responsive table-hover table-bordered table-striped" id="ApprovedReview">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product Name</th>
                                    <th>SKU</th>
                                    <th>Customer Name</th>
                                    <th>Review Date</th>
                                    <th>Status</th>
                                    <th>Approved By</th>
                                    <th>Approved Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                @{
                                    int counter2 = 1;
                                    foreach (var approvedReview in Model.ApprovedReview)
                                    {
                                        <tr>
                                            <td>@counter2</td>
                                            <td>@approvedReview.ProductName</td>
                                            <td>@approvedReview.Sku</td>
                                            <td>@approvedReview.CustomerName</td>
                                            <td>@approvedReview.ProductReviewDate</td>
                                            <td><span class="label label-success">Approved...</span></td>
                                            <td>@approvedReview.ApprovedBy</td>
                                            <td>@approvedReview.ApprovedDate</td>
                                            <td><a href="#" id="viewApprovedReview" data-id="@approvedReview.ProductReviewId" class="btn btn-success btn-xs fa fa-eye"> View</a></td>
                                        </tr>
                                        counter1 = counter2 + 1;
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab_1_1_3">
                            <table class="table table-responsive table-hover table-bordered table-striped" id="RejectedReview">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product Name</th>
                                    <th>SKU</th>
                                    <th>Customer Name</th>
                                    <th>Review Date</th>
                                    <th>Status</th>
                                    <th>Rejected By</th>
                                    <th>Rejected Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                @{
                                    int counter3 = 1;
                                    foreach (var rejectedReview in Model.RejectedReview)
                                    {
                                        <tr>
                                            <td>@counter3</td>
                                            <td>@rejectedReview.ProductName</td>
                                            <td>@rejectedReview.Sku</td>
                                            <td>@rejectedReview.CustomerName</td>
                                            <td>@rejectedReview.ProductReviewDate</td>
                                            <td><span class="label label-danger">Rejected...</span></td>
                                            <td>@rejectedReview.RejectBy</td>
                                            <td>@rejectedReview.RejectDate</td>
                                            <td><a href="#" id="viewRejectedReview" data-id="@rejectedReview.ProductReviewId" class="btn btn-success btn-xs fa fa-eye"> View</a></td>
                                        </tr>
                                        counter1 = counter3 + 1;
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var table1 = $("#PendingReview").dataTable();
        var table2 = $("#ApprovedReview").dataTable();
        var table3 = $("#RejectedReview").dataTable();

        $("#PendingReview").on('click','#viewPendingReview',function() {
            var reviewId = $(this).data("id");

            $.ajax({
                type: 'POST',
                url: '/Catalog/GetSingleReview/',
                data: { productReviewId: reviewId },
                dataType: 'json',
                success: function (data) {
                    $.confirm({
                        columnClass: 'col-md-6 col-md-offset-3',
                        closeIcon: true,
                        closeIconClass: 'fa fa-close',
                        title: data.ProductName + ' (' + data.Sku + '), Review: ' + data.ProductRating,
                        content: '<h4>' + data.CustomerName + ' <span style="font-size:13px;">(' + data.ProductReviewDate +')</span></h4>'+
                            '<h6>' + data.CustomerEmail + ' (' + data.CustomerPhone+')' +'</h6><hr>' +
                            '<p>' + data.Message +'</p>',
                        buttons: {
                            approved: function () {
                                $.ajax({
                                    type: 'POST',
                                    url: '/Catalog/ApprovedReview/',
                                    data: { productReviewId: reviewId },
                                    dataType: 'json',
                                    success: function (data) {
                                        $.confirm({
                                            title: 'Confirm!',
                                            content: data,
                                            buttons: {
                                                OK: function() {
                                                    location.reload();
                                                }
                                            }
                                            
                                        });
                                    },
                                    error: function (ex) {
                                        $.dialog({
                                            title: 'Error!',
                                            content: ex
                                        });
                                    }
                                });
                            },
                            reject: function () {
                                $.ajax({
                                    type: 'POST',
                                    url: '/Catalog/RejectReview/',
                                    data: { productReviewId: reviewId },
                                    dataType: 'json',
                                    success: function (data) {
                                        $.confirm({
                                            title: 'Confirm!',
                                            content: data,
                                            buttons: {
                                                OK: function () {
                                                    location.reload();
                                                }
                                            }

                                        });
                                    },
                                    error: function (ex) {
                                        $.dialog({
                                            title: 'Error!',
                                            content: ex
                                        });
                                    }
                                });
                            }
                        }
                    });
                },
                error: function (ex) {
                    $.dialog({
                        title: 'Error!',
                        content: ex
                    });
                }
            });
        });

        $("#ApprovedReview").on('click', '#viewApprovedReview', function () {
            var reviewId = $(this).data("id");

            $.ajax({
                type: 'POST',
                url: '/Catalog/GetSingleReview/',
                data: { productReviewId: reviewId },
                dataType: 'json',
                success: function (data) {
                    $.confirm({
                        columnClass: 'col-md-6 col-md-offset-3',
                        closeIcon: true,
                        closeIconClass: 'fa fa-close',
                        title: data.ProductName + ' (' + data.Sku + '), Review: ' + data.ProductRating,
                        content: '<h4>' + data.CustomerName + ' <span style="font-size:13px;">(' + data.ProductReviewDate + ')</span></h4>' +
                            '<h6>' + data.CustomerEmail + ' (' + data.CustomerPhone + ')' + '</h6><hr>' +
                            '<p>' + data.Message + '</p>'
                    });
                },
                error: function (ex) {
                    $.dialog({
                        title: 'Error!',
                        content: ex
                    });
                }
            });
        });

        $("#RejectedReview").on('click', '#viewRejectedReview', function () {
            var reviewId = $(this).data("id");

            $.ajax({
                type: 'POST',
                url: '/Catalog/GetSingleReview/',
                data: { productReviewId: reviewId },
                dataType: 'json',
                success: function (data) {
                    $.confirm({
                        columnClass: 'col-md-6 col-md-offset-3',
                        closeIcon: true,
                        closeIconClass: 'fa fa-close',
                        title: data.ProductName + ' (' + data.Sku + '), Review: ' + data.ProductRating,
                        content: '<h4>' + data.CustomerName + ' <span style="font-size:13px;">(' + data.ProductReviewDate + ')</span></h4>' +
                            '<h6>' + data.CustomerEmail + ' (' + data.CustomerPhone + ')' + '</h6><hr>' +
                            '<p>' + data.Message + '</p>'
                    });
                },
                error: function (ex) {
                    $.dialog({
                        title: 'Error!',
                        content: ex
                    });
                }
            });
        });
    });
</script>



