﻿@using SaRaEcomAdmin.Models
@model SaRaEcomAdmin.Models.UpcomingProduct
@{
    ViewBag.Title = "Upcoming Product";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var upcomingProducts = ViewBag.UpcomingProducts as List<UpcomingProduct>;
}
<link rel="stylesheet" type="text/css" href="/Content/assets/bootstrap-fileinput/bootstrap-fileinput.css" />

<div class="page-head">
    <div class="page-title">
        <h1>Manage Upcoming Product</h1>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add Upcoming Product
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SaveUpcomingProduct", "Catalog", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                <div class="form-body">
                    <div class="form-group margin-top-15">
                        @Html.LabelFor(c => c.ProductName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            <div class="input-icon">
                                <i class="fa fa-text-width"></i>
                                @Html.TextBoxFor(c => c.ProductName, new { @class = "form-control input-circle", @placeholder = "Slider Title" })
                                @Html.ValidationMessageFor(c => c.ProductName)
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.Sku, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            <div class="input-icon">
                                <i class="fa fa-text-width"></i>
                                @Html.TextBoxFor(c => c.Sku, new { @class = "form-control input-circle", @placeholder = "Slider Url" })
                                @Html.ValidationMessageFor(c => c.Sku)
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.DisplayOrder, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            <div class="input-icon">
                                <i class="fa fa-text-width"></i>
                                @Html.TextBoxFor(c => c.DisplayOrder, new { @class = "form-control input-circle", @placeholder = "Display Order", @type = "number" })
                                @Html.ValidationMessageFor(c => c.DisplayOrder)
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.Price, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            <div class="input-icon">
                                <i class="fa fa-text-width"></i>
                                @Html.TextBoxFor(c => c.Price, new { @class = "form-control input-circle", @placeholder = "Price", @type = "number" })
                                @Html.ValidationMessageFor(c => c.Price)
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group ">
                        @Html.LabelFor(c => c.Image, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            <div class="show-image-div show-image-divm">
                                <a data-target="#imageModal" data-toggle="modal">
                                    @if (Model.ImageString != null)
                                    {
                                        <img id="showImage" class="show-prev-img show-prev-imgm" src="@Path.Combine("/Files/UpcomingProduct/", Model.ImageString)" style="width: 100px; height: 100px; border: 1px solid #ddd; padding: 3px;">
                                        @Html.HiddenFor(c => c.ImageString)
                                    }
                                    else
                                    {
                                        <img id="showImage" class="show-prev-img show-prev-imgm" style="width: 100px; height: 100px; border: 1px solid #ddd; padding: 3px;">
                                    }
                                </a>
                            </div>
                            <div class="fileUpload fileUploadm btn btn-sm btn-primary btn-image btn-imagem">
                                <span><i class="fa fa-picture-o"></i> Choose Image</span>
                                @Html.TextBoxFor(m => m.Image, "", new { @type = "file", @class = "imageUpload imageUploadm" })
                            </div>
                            @Html.ValidationMessageFor(c => c.Image)
                            <br />
                            <br />
                            <p><span class="label label-danger">NOTE!</span> Image must be jpg or jpeg or png, Ratio 000*000</p>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-right">
                            @Html.HiddenFor(c => c.ProductId)
                            <button class="btn btn-success btn-lg btn-circle" type="submit"><i class="fa fa-save"></i> Save</button>
                            @Html.ActionLink(" Clear", "UpcomingProduct", "Catalog", new { id = 0 }, new { @class = "btn btn-info btn-lg btn-circle fa fa-times" })
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                }
            </div>
        </div>

        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Upcoming Product Lists
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="upcomingProduct">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product Name</th>
                                <th>Sku</th>
                                <th>Display Order</th>
                                <th>Price</th>
                                <th>Slider Image</th>
                                <th class="text-center" style="width: 20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (upcomingProducts != null && upcomingProducts.Count > 0)
                            {
                                int counter = 1;
                                foreach (var data in upcomingProducts)
                                {
                                    <tr>
                                        <td style="vertical-align:middle !important">@counter</td>
                                        <td style="vertical-align:middle !important">@data.ProductName</td>
                                        <td style="vertical-align:middle !important">@data.Sku</td>
                                        <td style="vertical-align:middle !important">@data.DisplayOrder</td>
                                        <td style="vertical-align:middle !important">@data.Price</td>
                                        <td><img style="width: 60px;height: 80px;border: 1px solid #ddd;padding: 3px;" src="@Path.Combine("/Files/UpcomingProduct/", data.ImageString)" /></td>
                                        <td class="text-center" style="vertical-align:middle !important">
                                            @Html.ActionLink(" Edit", "UpcomingProduct", "Catalog", new { id = data.ProductId }, new { @class = "btn btn-success btn-xs fa fa-edit" }) ||
                                            @Html.ActionLink(" Delete", "DeleteUpcomingProduct", "Catalog", new { id = data.ProductId }, new { @class = "btn btn-danger btn-xs fa fa-trash-o" })
                                        </td>
                                    </tr>
                                    counter = counter + 1;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" class="text-center">No Data Found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/Content/assets/bootstrap-fileinput/bootstrap-fileinput.js"></script>
<script>
    function newReadUrl(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(input).parents('.fileUploadm').siblings('.show-image-divm').find('.show-prev-imgm').attr('src', e.target.result);
                $("#displayImage").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(document).on('change', '.imageUploadm', function () {
        newReadUrl(this);
    });
    jQuery(document).ready(function () {

        $("#upcomingProduct").dataTable();

        @{
            if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
            {
                <text>
                    var message = '@ViewBag.message';


                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "positionClass": "toast-top-center",
                        "onclick": null,
                        "showDuration": "1000",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info(message, 'Information!');
                </text>
            }
        }
    });

</script>

