﻿
@{
    ViewBag.Title = "RegisteredCustomer";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="page-head">
    <div class="page-title">
        <h1>Manage Report</h1>
    </div>
</div>
@using (Html.BeginForm("RegisteredCustomer", "Report", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row margin-top-10">
        <div class="col-md-12">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Report
                    </div>
                    <div class="tools">
                        <span class="pull-right" style="position: relative;">
                            <label>
                                <input type="radio" name="ReportType" value="PDF" checked="checked"> PDF
                            </label> ||
                            <label>
                                <input type="radio" name="ReportType" value="Excel"> Excel
                            </label>
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-10">

                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <div class="form-group">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6 text-right">
                                            <button class="btn btn-success" type="submit" formtarget="_blank"><i class="fa fa-save"></i> View</button>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
