﻿@model SaRaEcomAdmin.Models.SaleReport
@{
    ViewBag.Title = "SaleReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" type="text/css" href="/Content/Assets/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Assets/bootstrap-datepicker/css/datepicker3.css" />

    <link rel="stylesheet" type="text/css" href="/Content/Assets/clockface/css/clockface.css"/>
    <link rel="stylesheet" type="text/css" href="/Content/Assets/bootstrap-datepicker/css/datepicker3.css"/>
    <link rel="stylesheet" type="text/css" href="/Content/Assets/bootstrap-timepicker/css/bootstrap-timepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="/Content/Assets/bootstrap-colorpicker/css/colorpicker.css"/>
    <link rel="stylesheet" type="text/css" href="/Content/Assets/bootstrap-daterangepicker/daterangepicker-bs3.css"/>
    <link rel="stylesheet" type="text/css" href="/Content/Assets/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"/>*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="page-head">
    <div class="page-title">
        <h1>Manage Report</h1>
    </div>
</div>
@using (Html.BeginForm("SaleReport", "Report", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row margin-top-10">
        <div class="col-md-12">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Report
                    </div>
                    <div class="tools">
                        <span class="pull-right" style="position: relative;">
                            <label>
                                <input type="radio" name="ReportType" value="PDF" checked="checked"> PDF
                            </label> ||
                            <label>
                                <input type="radio" name="ReportType" value="Excel"> Excel
                            </label>
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.RadioButtonFor(model => model.ReportFor, "1") Sale History
                                    @Html.RadioButtonFor(model => model.ReportFor, "2") Product Upload History
                                </div>
                            </div>
                            <div class="col-md-10">

                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <div class="form-group margin-top-15">
                                        @Html.LabelFor(c => c.FormDate, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-text-width"></i>
                                                @Html.TextBoxFor(c => c.FormDate, new { @class = "form-control input-medium datepicker input-circle", autocomplete = "off", @readonly = "readonly" })
                                                @Html.ValidationMessageFor(c => c.FormDate)
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(c => c.ToDate, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-text-width"></i>
                                                @Html.TextBoxFor(c => c.ToDate, new { @class = "form-control input-medium datepicker input-circle", autocomplete = "off", @readonly = "readonly" })
                                                @Html.ValidationMessageFor(c => c.ToDate)
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(c => c.CategoryId, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-text-width"></i>
                                                @Html.DropDownListFor(c => c.CategoryId, new SelectList(ViewBag.CategoryList, "Value", "Text"), new { @class = "form-control input-medium input-circle", @placeholder = "Category Name" })
                                                @Html.ValidationMessageFor(c => c.CategoryId)
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(c => c.SubCategoryId, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-text-width"></i>
                                                @Html.DropDownListFor(c => c.SubCategoryId, new SelectList(" "), new { @class = "form-control input-medium input-circle", @placeholder = "Sub Category Name", @disabled = true })
                                                @Html.ValidationMessageFor(c => c.SubCategoryId)
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(c => c.SubSubCategoryId, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-text-width"></i>
                                                @Html.DropDownListFor(c => c.SubSubCategoryId, new SelectList(" "), new { @class = "form-control input-medium input-circle", @placeholder = "Sub Sub Category Name", @disabled = true })
                                                @Html.ValidationMessageFor(c => c.SubSubCategoryId)
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(c => c.DesignerName, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-text-width"></i>
                                                @Html.DropDownListFor(c => c.DesignerName, new SelectList(ViewBag.DesignerList, "Value", "Text"), new { @class = "form-control input-medium input-circle", @placeholder = "Designer Name" })
                                                @Html.ValidationMessageFor(c => c.DesignerName)
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(c => c.MerchandiserName, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-text-width"></i>
                                                @Html.DropDownListFor(c => c.MerchandiserName, new SelectList(ViewBag.DesignerList, "Value", "Text"), new { @class = "form-control input-medium input-circle", @placeholder = "Merchandiser Name" })
                                                @Html.ValidationMessageFor(c => c.MerchandiserName)
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6 text-right">
                                            <button class="btn btn-success" type="submit" formtarget="_blank"><i class="fa fa-save"></i> View</button>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@*<script type="text/javascript" src="/Content/Assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/Content/Assets/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="/Content/Assets/clockface/js/clockface.js"></script>
    <script type="text/javascript" src="/Content/Assets/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/Content/Assets/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/Content/Assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript" src="/Content/Assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/scripts/components-pickers.js"></script>*@

@Scripts.Render("~/bundles/jqueryval")

<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });

    jQuery(document).ready(function () {

        $("#CategoryId").change(function () {
            $("#SubCategoryId").empty();
            $("#SubSubCategoryId").empty();
            var catId = $("#CategoryId").val();
            if (!isNaN(catId) && catId) {
                $("#SubCategoryId").prop("disabled", false);
                $("#SubSubCategoryId").prop("disabled", true);
                $.ajax({
                    type: 'POST',
                    url: '/Report/GetSubCategoryList/',
                    dataType: 'json',
                    data: { categoryId: $("#CategoryId").val() },
                    success: function (subCategoryId) {
                        $.each(subCategoryId, function (i, subCategoryId) {
                            $("#SubCategoryId").append('<option value="' + subCategoryId.Value + '">' + subCategoryId.Text + '</option>');
                        });
                    },
                    error: function (ex) { alert('Failed to retrieve Sub Category List.' + ex); }
                });
            } else {
                $("#SubCategoryId").prop("disabled", true);
                $("#SubSubCategoryId").prop("disabled", true);
            }
        });

        $("#SubCategoryId").change(function () {
            $("#SubSubCategoryId").empty();
            var catId = $("#CategoryId").val();
            var subCatId = $("#SubCategoryId").val();
            if (!isNaN(catId) && catId && !isNaN(subCatId) && subCatId) {
                $("#SubSubCategoryId").prop("disabled", false);
                $.ajax({
                    type: 'POST',
                    url: '/Report/GetSubSubCategoryList/',
                    dataType: 'json',
                    data: { categoryId: $("#CategoryId").val(), subCategoryId: $("#SubCategoryId").val() },
                    success: function (subSubCategoryId) {
                        $.each(subSubCategoryId, function (i, subSubCategoryId) {
                            $("#SubSubCategoryId").append('<option value="' + subSubCategoryId.Value + '">' + subSubCategoryId.Text + '</option>');
                        });
                    },
                    error: function (ex) { alert('Failed to retrieve Sub Category List.' + ex); }
                });
            } else {
                $("#SubSubCategoryId").prop("disabled", true);
            }
        });
    });
</script>



