﻿
@model SaRaEcomAdmin.Models.ReportModel
@{
    ViewBag.Title = "ViewReport";
}
<style>
    .mb-20 {
        margin-bottom: -450px;
    }
    .radio {
        padding-top: 0px !important;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="page-head">
    <div class="page-title">
        <h1>Manage Report</h1>
    </div>
</div>
@using (Html.BeginForm("ShowReport", "Report", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row margin-top-10">
        <div class="col-md-12">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Report
                    </div>
                    <div class="tools">
                        <span class="pull-right" style="position: relative;">
                            <label>
                                <input type="radio" name="ReportType" value="PDF" checked="checked" style="padding-top: 0px"> PDF
                            </label> ||
                            <label>
                                <input type="radio" name="ReportType" value="Excel"> Excel
                            </label> ||
                            <label>
                                <input type="radio" name="ReportType" value="CVS"> CVS
                            </label> ||
                            <label>
                                <input type="radio" name="ReportType" value="TXT"> TXT
                            </label>
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <ul class="list-group">
                                    <li class="list-group-item text-center">Chose Your Report Section</li>
                                    <li class="list-group-item"><label><input type="radio" name="ReportFor" checked="checked" value="1"> Sale History</label></li>
                                    <li class="list-group-item"><label><input type="radio" name="ReportFor" value="2"> Product Upload History</label></li>
                                    <li class="list-group-item"><label><input type="radio" name="ReportFor" value="3"> Registered Customer History</label></li>
                                    <li class="list-group-item"><label><input type="radio" name="ReportFor" value="4"> Reject Order History</label></li>
                                    <li class="list-group-item"><label><input type="radio" name="ReportFor" value="5"> Reject Order Successfully Payment History</label></li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <div class="form-group margin-top-15">
                                        @Html.LabelFor(c => c.FormDate, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-text-width"></i>
                                                @Html.TextBoxFor(c => c.FormDate, new { @class = "form-control input-medium datepicker input-circle", autocomplete = "off", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(c => c.ToDate, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-text-width"></i>
                                                @Html.TextBoxFor(c => c.ToDate, new { @class = "form-control input-medium datepicker input-circle", autocomplete = "off", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(c => c.CategoryId, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-text-width"></i>
                                                @Html.DropDownListFor(c => c.CategoryId, new SelectList(ViewBag.CategoryList, "Value", "Text"), new { @class = "form-control input-medium input-circle", @placeholder = "Category Name" })
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(c => c.SubCategoryId, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-text-width"></i>
                                                @Html.DropDownListFor(c => c.SubCategoryId, new SelectList(" "), new { @class = "form-control input-medium input-circle", @placeholder = "Sub Category Name", @disabled = true })
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(c => c.SubSubCategoryId, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-text-width"></i>
                                                @Html.DropDownListFor(c => c.SubSubCategoryId, new SelectList(" "), new { @class = "form-control input-medium input-circle", @placeholder = "Sub Sub Category Name", @disabled = true })
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(c => c.DesignerName, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-text-width"></i>
                                                @Html.DropDownListFor(c => c.DesignerName, new SelectList(ViewBag.DesignerList, "Value", "Text"), new { @class = "form-control input-medium input-circle", @placeholder = "Designer Name" })
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(c => c.MerchandiserName, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-text-width"></i>
                                                @Html.DropDownListFor(c => c.MerchandiserName, new SelectList(ViewBag.DesignerList, "Value", "Text"), new { @class = "form-control input-medium input-circle", @placeholder = "Merchandiser Name" })
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6">
                                            <button class="btn btn-success" id="showReportBtn" type="submit" formtarget="_blank"><i class="fa fa-save"></i> View</button>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")

<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });

    jQuery(document).ready(function () {
        $("input:radio[name=ReportFor]").click(function () {
            var value = $(this).val();
            if (value === "3") {
                $(".form-body").children(".form-group").addClass('hidden');
                $("#showReportBtn").addClass("mb-20");
            } else {
                $(".form-body").children(".form-group").removeClass('hidden');
                $("#showReportBtn").removeClass("mb-20");
            }
        });

        $("#CategoryId").change(function () {
            $("#SubCategoryId").empty();
            $("#SubSubCategoryId").empty();
            var catId = $("#CategoryId").val();
            if (!isNaN(catId) && catId) {
                $("#SubCategoryId").prop("disabled", false);
                $("#SubSubCategoryId").prop("disabled", true);
                $.ajax({
                    type: 'POST',
                    url: '/Report/GetSubCategoryList/',
                    dataType: 'json',
                    data: { categoryId: $("#CategoryId").val() },
                    success: function (subCategoryId) {
                        $.each(subCategoryId, function (i, subCategoryId) {
                            $("#SubCategoryId").append('<option value="' + subCategoryId.Value + '">' + subCategoryId.Text + '</option>');
                        });
                    },
                    error: function (ex) { alert('Failed to retrieve Sub Category List.' + ex); }
                });
            } else {
                $("#SubCategoryId").prop("disabled", true);
                $("#SubSubCategoryId").prop("disabled", true);
            }
        });

        $("#SubCategoryId").change(function () {
            $("#SubSubCategoryId").empty();
            var catId = $("#CategoryId").val();
            var subCatId = $("#SubCategoryId").val();
            if (!isNaN(catId) && catId && !isNaN(subCatId) && subCatId) {
                $("#SubSubCategoryId").prop("disabled", false);
                $.ajax({
                    type: 'POST',
                    url: '/Report/GetSubSubCategoryList/',
                    dataType: 'json',
                    data: { categoryId: $("#CategoryId").val(), subCategoryId: $("#SubCategoryId").val() },
                    success: function (subSubCategoryId) {
                        $.each(subSubCategoryId, function (i, subSubCategoryId) {
                            $("#SubSubCategoryId").append('<option value="' + subSubCategoryId.Value + '">' + subSubCategoryId.Text + '</option>');
                        });
                    },
                    error: function (ex) { alert('Failed to retrieve Sub Category List.' + ex); }
                });
            } else {
                $("#SubSubCategoryId").prop("disabled", true);
            }
        });
    });
</script>

