﻿@model SaRaEcomAdmin.Models.AccountModel
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Assets/inbox.css" rel="stylesheet" />

<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Inbox <small>user inbox</small></h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD -->

<div class="portlet light">
    <div class="portlet-body">
        <div class="row inbox" id="inboxBody">
            <div class="col-md-2">
                <a href="#" class="compose-btn btn green" style="width: 100%">
                    <i class="fa fa-edit"></i> Compose
                </a>
                <br/>
                <br/>
                <ul class="inbox-nav margin-bottom-10">
                    <li class="inbox active">
                        <a href="#inbox" class="btn" data-title="Inbox">
                            Inbox ( @Model.GetMessageList.Count())
                        </a>
                        <b></b>
                    </li>
                    <li class="sent">
                        <a class="btn" href="#sent" data-title="Sent">
                            Sent ( @Model.GetSentMessage.Count())
                        </a>
                        <b></b>
                    </li>
                    <li class="trash">
                        <a class="btn" href="#trash" data-title="Trash">
                            Trash (@Model.GetTrashList.Count())
                        </a>
                        <b></b>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                <div class="content-page" id="inbox">
                    <div class="inbox-header">
                        <h1 class="pull-left">Inbox</h1>
                    </div>
                    <div class="inbox-content">
                        <table class="table table-bordered table-hover" id="InboxTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Message</th>
                                    <th>Date</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int counter = 1;
                                    foreach (var data in Model.GetMessageList)
                                    {
                                        if (data.ReadStatus == "N")
                                        {
                                            <tr style="Background:lightgray">
                                                <td>@counter</td>
                                                <td>@data.CustomerName</td>
                                                <td>@data.CustomerEmail</td>
                                                <td>@data.ShortMessage ...</td>
                                                <td>@data.Date</td>
                                                <td class="text-center">
                                                    <a href="#" class="btn btn-primary btn-xs fa fa-eye messageView" data-id="@data.ContactId"> View</a> ||
                                                    <a href="#" class="btn btn-danger btn-xs fa fa-trash-o messageDelete" data-id="@data.ContactId"> Delete</a>
                                                </td>
                                            </tr>
                                            }
                                        else
                                        {
                                            <tr>
                                                <td>@counter</td>
                                                <td>@data.CustomerName</td>
                                                <td>@data.CustomerEmail</td>
                                                <td>@data.ShortMessage ...</td>
                                                <td>@data.Date</td>
                                                <td class="text-center">
                                                    <a href="#" class="btn btn-primary btn-xs fa fa-eye messageView" data-id="@data.ContactId"> View</a> ||
                                                    <a href="#" class="btn btn-danger btn-xs fa fa-trash-o messageDelete" data-id="@data.ContactId"> Delete</a>
                                                </td>
                                            </tr>
                                        }
                                        counter = counter + 1;
                                    }
                                }
                            </tbody>
                        </table>
                        
                    </div>
                </div>
                <div class="content-page" id="sent">
                    <div class="inbox-header">
                        <h1 class="pull-left">Sent Message</h1>
                    </div>
                    <div class="inbox-content">
                        <table class="table table-bordered table-hover" id="SentTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Sender Name</th>
                                    <th>Receiver Email</th>
                                    <th>Message</th>
                                    <th>Date</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int counterSent = 1;
                                    foreach (var data in Model.GetSentMessage)
                                    {
                                        <tr>
                                            <td>@counterSent</td>
                                            <td>@data.Sender</td>
                                            <td>@data.ToEmail</td>
                                            <td>@data.ShortMessage ...</td>
                                            <td>@data.SentDate</td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-primary btn-xs fa fa-eye sentMessageView" data-id="@data.MessageId"> View</a>
                                            </td>
                                        </tr>
                                        counterSent = counterSent + 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="content-page" id="trash">
                    <div class="inbox-header">
                        <h1 class="pull-left">Trash</h1>
                    </div>
                    <div class="inbox-content">
                        <table class="table table-bordered table-hover" id="TrashTable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Message</th>
                                <th>Date</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                                int counterTrash = 1;
                                foreach (var data in Model.GetTrashList)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td>@data.CustomerName</td>
                                        <td>@data.CustomerEmail</td>
                                        <td>@data.ShortMessage ...</td>
                                        <td>@data.Date</td>
                                        <td class="text-center">
                                            <a href="#" class="btn btn-primary btn-xs fa fa-eye trashView" data-id="@data.ContactId"> View</a>||
                                            <a href="#" class="btn btn-danger btn-xs fa fa-trash-o trashDelete" data-id="@data.ContactId"> Delete</a>
                                        </td>
                                    </tr>
                                    counterTrash = counterTrash + 1;
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="~/Scripts/inbox.js"></script>
@*<script>
        jQuery(document).ready(function () {
            Inbox.init();
        });
    </script>*@

<!--jqury for right side content-->
<script type="text/javascript">
    //$('.list-group a:first').addClass('active');
    
    

    function loadTabPanel() {
        $('.content-page:not(:first)').hide();
        $('.inbox-nav').on('click', '.btn', function(event) {
            event.preventDefault();
            var content = $(this).attr('href');
            $(this).parent().addClass('active');
            $(this).parent().siblings().removeClass('active');
            $(content).show();
            $(content).siblings('.content-page').hide();
        });
    }

    $(document).ready(function () {
        loadTabPanel();
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        $('#inboxBody').on('click', '.compose-btn', function () {
            $.confirm({
                columnClass: 'col-md-6 col-md-offset-3',
                closeIcon: true,
                closeIconClass: 'fa fa-close',
                title: 'NEW MESSAGE',
                content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>To</label>' +
                    '<input type="text" id="ToMail" placeholder="To" class="email form-control" required />' +
                    '</div>' +
                    '<div class="form-group">' +
                    '<label>Subject</label>' +
                    '<input type="text" id="subject" placeholder="Mail Subject" class="subject form-control" required />' +
                    '</div>' +
                    '<div class="form-group">' +
                    '<label>Body</label>' +
                    '<textarea name="mailBody" id="body" placeholder="Mail Subject" class="body form-control" required rows="5"></textarea>' +
                    '</div>' +
                    '</form>',
                buttons: {
                    formSubmit: {
                        text: 'Sent',
                        btnClass: 'btn-blue',
                        action: function () {
                            var email = this.$content.find('.email').val();
                            var subject = this.$content.find('.subject').val();
                            var body = this.$content.find('.body').val();

                            function validateEmail(email) {
                                var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                                return re.test(String(email).toLowerCase());
                            }
                            if (!validateEmail(email)) {
                                $.alert('Please insert a valid email!!!');
                                return false;
                            }
                            if (!subject) {
                                $.alert('subject is required!!!');
                                return false;
                            }
                            if (!body) {
                                $.alert('body is required!!!');
                                return false;
                            }

                            if (email) {
                                var mailObject = {
                                    'ToEmail': email,
                                    'MailSubject': subject,
                                    'MailBody': body
                                }
                                var replayMail = JSON.stringify({ 'objCompose': mailObject });

                                console.log(replayMail);

                                $.ajax({
                                    type: 'POST',
                                    contentType: 'application/json',
                                    dataType: 'json',
                                    url: '/Account/ReplayMessage/',
                                    data: replayMail,
                                    success: function (data) {
                                        toastr.info(data, 'Information!');
                                        return;
                                    },
                                    error: function () {
                                        toastr.info("something not right, please contact with admin!!", 'Information!');
                                    }
                                });
                            } else {
                                toastr.info('Something went wrong', 'Information!');
                            }

                            return true;
                        }
                    },
                    cancel: function () {
                        //close
                    },
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        });

        var table = $("#InboxTable").dataTable();
        var table3 = $("#SentTable").dataTable();
        var table2 = $("#TrashTable").dataTable();

        $(".messageView").click(function() {
            var contactId = $(this).data("id");

            $.ajax({
                type: 'POST',
                url: '/Account/GetMessage/',
                data: { contactId: contactId },
                dataType: 'json',
                success: function (data) {
                    $.confirm({
                        closeIcon: true,
                        closeIconClass: 'fa fa-close',
                        columnClass: 'col-md-12',
                        title: data.CustomerName,
                        content: '' +
                            '<h4> Message </h4>' +
                            '<p>'+data.Message+'</p>',
                        buttons: {
                            OK:  {
                                text: 'OK',
                                btnClass: 'btn-blue',
                                keys: ['enter'],
                                action: function () {
                                    if (data.ReadStatus == 'N') {
                                        $.ajax({
                                            type: 'POST',
                                            url: '/Account/MessageMakeRead/',
                                            data: { contactId: contactId },
                                            dataType: 'json',
                                            success: function (data) {
                                                toastr.info(data, 'Information!');
                                            },
                                            error: function () {
                                                toastr.info("something not right, please contact with admin!!", 'Information!');
                                            }
                                        });
                                    }
                                    location.reload();
                                }
                            },
                            Replay: {
                                text: 'Replay',
                                btnClass: 'btn-green',
                                action: function () {
                                    $.confirm({
                                        columnClass: 'col-md-6 col-md-offset-3',
                                        closeIcon: true,
                                        closeIconClass: 'fa fa-close',
                                        title: 'NEW MESSAGE',
                                        content: '' +
                                            '<form action="" class="formName">' +
                                            '<div class="form-group">' +
                                            '<label>To</label>' +
                                            '<input type="text" id="ToMail" value="' + data.CustomerEmail +'" readonly="true" placeholder="To" class="email form-control" required />' +
                                            '</div>' +
                                            '<div class="form-group">' +
                                            '<label>Subject</label>' +
                                            '<input type="text" id="subject" placeholder="Mail Subject" class="subject form-control" required />' +
                                            '</div>' +
                                            '<div class="form-group">' +
                                            '<label>Body</label>' +
                                            '<textarea name="mailBody" id="body" placeholder="Mail Subject" class="body form-control" required rows="5"></textarea>' +
                                            '</div>' +
                                            '</form>',
                                        buttons: {
                                            formSubmit: {
                                                text: 'Send',
                                                btnClass: 'btn-blue',
                                                action: function () {
                                                    var email = this.$content.find('.email').val();
                                                    var subject = this.$content.find('.subject').val();
                                                    var body = this.$content.find('.body').val();

                                                    //function validateEmail(email) {
                                                    //    var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                                                    //    return re.test(String(email).toLowerCase());
                                                    //}
                                                    //if (!validateEmail(email)) {
                                                    //    $.alert('Please insert a valid email!!!');
                                                    //    return false;
                                                    //}
                                                    if (!subject) {
                                                        $.alert('subject is required!!!');
                                                        return false;
                                                    }
                                                    if (!body) {
                                                        $.alert('body is required!!!');
                                                        return false;
                                                    }

                                                    if (email) {
                                                        var mailObject = {
                                                            'ToEmail': email,
                                                            'MailSubject': subject,
                                                            'MailBody': body,
                                                            'ContactId': contactId,
                                                            'CustomerId': data.CustomerId
                                                        }
                                                        var replayMail = JSON.stringify({ 'objCompose': mailObject });

                                                        $.ajax({
                                                            type: 'POST',
                                                            contentType: 'application/json',
                                                            dataType: 'json',
                                                            url: '/Account/ReplayMessage/',
                                                            data: replayMail,
                                                            success: function (data) {
                                                                toastr.info(data, 'Information!');
                                                                return;
                                                            },
                                                            error: function () {
                                                                toastr.info("something not right, please contact with admin!!", 'Information!');
                                                            }
                                                        });
                                                    } else {
                                                        toastr.info('Something went wrong', 'Information!');
                                                    }
                                                    
                                                    return true;
                                                }
                                            },
                                            cancel: function () {
                                                return true;
                                            },
                                        },
                                        onContentReady: function () {
                                            // bind to events
                                            var jc = this;
                                            this.$content.find('form').on('submit', function (e) {
                                                // if the user submits the form by pressing enter in the field.
                                                e.preventDefault();
                                                jc.$$formSubmit.trigger('click'); // reference the button and click it
                                            });
                                        }
                                    });
                                }
                            },
                            Delete: {
                                text: 'Delete',
                                btnClass: 'btn-red',
                                action: function () {
                                    $.ajax({
                                        type: 'POST',
                                        url: '/Account/MessageDelete/',
                                        data: { contactId: contactId },
                                        dataType: 'json',
                                        success: function (data) {
                                            toastr.info(data, 'Information!');
                                            location.reload();
                                        },
                                        error: function () {
                                            toastr.info("something not right, please contact with admin!!", 'Information!');
                                            location.reload();
                                        }
                                    });
                                }
                            }
                        }
                    });
                },
                error: function () {
                    toastr.info("something not right, please contact with admin!!", 'Information!');
                }
            });
        });

        $(".sentMessageView").click(function () {
            var messageId = $(this).data("id");

            $.ajax({
                type: 'POST',
                url: '/Account/GetSentMessage/',
                data: { messageId: messageId },
                dataType: 'json',
                success: function (data) {
                    $.confirm({
                        closeIcon: true,
                        closeIconClass: 'fa fa-close',
                        columnClass: 'col-md-6 col-md-offset-3',
                        title: data.Sender + ' (' + data.UpdateBy + ')',
                        content: '' +
                            '<h4><strong>Subject</strong></h4>' +
                            '<p>' + data.MailSubject + '</p>' +
                            '<hr>' +
                            '<h4><strong>Body</strong></h4>' +
                            '<p>' + data.MailBody +'</p>',
                        buttons: {
                            CLOSE: {
                                text: 'OK',
                                btnClass: 'btn-blue',
                                keys: ['enter'],
                                action: function () {
                                    return true;
                                }
                            }
                        }
                    });
                },
                error: function () {
                    toastr.info("something not right, please contact with admin!!", 'Information!');
                }
            });
        });

        $(".messageDelete").click(function () {
            var contactId = $(this).data("id");
            $.confirm({
                title: 'Confirm!',
                content: 'Are you sure you want to delete???',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            type: 'POST',
                            url: '/Account/MessageDelete/',
                            data: { contactId: contactId },
                            dataType: 'json',
                            success: function (data) {
                                toastr.info(data, 'Information!');
                                location.reload();
                            },
                            error: function () {
                                toastr.info("something not right, please contact with admin!!", 'Information!');
                                location.reload();
                            }
                        });
                    },
                    cancel: function () {
                        $.alert('Canceled!');
                    }
                }
            });
        });

        $(".trashView").click(function() {
            var contactId = $(this).data("id");

            $.ajax({
                type: 'POST',
                url: '/Account/GetMessage/',
                data: { contactId: contactId },
                dataType: 'json',
                success: function (data) {
                    $.dialog({
                        columnClass: 'col-md-12',
                        title: data.CustomerName,
                        content: '' +
                            '<h4> Message </h4>' +
                            '<p>' + data.Message + '</p>'
                    });
                },
                error: function () {
                    toastr.info("something not right, please contact with admin!!", 'Information!');
                }
            });
        });

        $(".trashDelete").click(function() {
            var contactId = $(this).data("id");
            $.dialog({
                title: 'Confirm!',
                content: 'For delete this message please contact with development team!!!'
            });
        });
    });

</script>
<!--End jQury for right side content -->
