﻿@model SaRaEcomAdmin.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}
<link href="/Content/assets/morris/morris.css" rel="stylesheet" type="text/css">
<link href="/Content/assets/tasks.css" rel="stylesheet" type="text/css" />
@*<style>
    .row {
        display: flex; /* equal height of the children */
    }

    .col {
        flex: 1; /* additionally, equal width */
        padding: 1em;
        border: solid;
    }
</style>*@
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Dashboard <small>statistics & reports</small></h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD -->
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div>
    <!--Top sale report-->
    <div class="row">
        <div class="col-md-12">
            <h1><small>Sale Report</small></h1>
            <div class="row margin-top-10">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-green-sharp">@Model.DailySale<small class="font-green-sharp"> &#2547</small></h3>
                                @*<h3 class="font-green-sharp">0<small class="font-green-sharp"> &#2547</small></h3>*@
                                <small>Today's Sale</small>
                            </div>
                            <div class="icon">
                                <i class="icon-pie-chart"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2">
                        <div class="display">
                            <div class="number">
                                @*<h3 class="font-red-haze">0<small class="font-red-haze"> &#2547</small></h3>*@
                                <h3 class="font-red-haze">@Model.MonthlySale<small class="font-red-haze"> &#2547</small></h3>
                                <small>This Month's Sale</small>
                            </div>
                            <div class="icon">
                                <i class="icon-pie-chart"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2">
                        <div class="display">
                            <div class="number">
                                @*<h3 class="font-blue-sharp">0<small class="font-blue-sharp"> &#2547</small></h3>*@
                                <h3 class="font-blue-sharp">@Model.YearlySale<small class="font-blue-sharp"> &#2547</small></h3>
                                <small>This Year's Sale</small>
                            </div>
                            <div class="icon">
                                <i class="icon-pie-chart"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2">
                        <div class="display">
                            <div class="number">
                                @*<h3 class="font-purple-soft">0<small class="font-purple-soft"> &#2547</small></h3>*@
                                <h3 class="font-purple-soft">@Model.TotalSale<small class="font-purple-soft"> &#2547</small></h3>
                                <small>All Time Sale</small>
                            </div>
                            <div class="icon">
                                <i class="icon-pie-chart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--End Top sale report-->
    <!-- BEGIN Order Report -->
    <div class="row">
        <div class="col-md-12">
            <h1><small>Order Report</small></h1>
            <div class="row margin-top-10">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-purple-soft">@Model.TotalOrder</h3>
                                @*<a href="@Url.Action("Orders", "Sales")">*@<small>Total Order</small>@*</a>*@
                            </div>
                            <div class="icon">
                                <i class="icon-basket"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-blue-sharp">@Model.TotalDelivery</h3>
                                <a href="@Url.Action("DeliveredProducts", "Sales")"><small>Total Delivery</small></a>
                            </div>
                            <div class="icon">
                                <i class="icon-plane"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-red-haze">@Model.DeliveryPending</h3>
                                <a href="@Url.Action("Orders", "Sales")"><small>Delivery Pending</small></a>
                            </div>
                            <div class="icon">
                                <i class="icon-reload"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-green-sharp">@Model.TotalReturn</h3>
                                <a href="@Url.Action("ReturnProducts", "Sales")"><small>Total Return</small></a>
                            </div>
                            <div class="icon">
                                <i class="icon-loop"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- END Order Report -->
    <div class="row margin-top-20">
        <!--Start Sale Summery-->
        <div class="col-md-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font-color hide"></i>
                        <span class="caption-subject theme-font-color bold uppercase">Sales Summary</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <label class="btn btn-transparent grey-salsa btn-circle btn-sm active" id="month">
                                Month
                            </label>
                            <label class="btn btn-transparent grey-salsa btn-circle btn-sm" id="year">
                                Year
                            </label>
                            <label class="btn btn-transparent grey-salsa btn-circle btn-sm" id="allTime">
                                All Time
                            </label>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row list-separated">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm">
                                Total Sales
                            </div>
                            <div class="uppercase font-hg font-red-flamingo" id="sale">
                                @*0 <span class="font-lg font-grey-mint"> &#2547</span>*@
                                @Model.TotalSaleMonth <span class="font-lg font-grey-mint"> &#2547</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm">
                                Revenue
                            </div>
                            <div class="uppercase font-hg theme-font-color" id="revenue">
                                @*0 <span class="font-lg font-grey-mint"> &#2547</span>*@
                                @Model.TotalRevenueMonth <span class="font-lg font-grey-mint"> &#2547</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm">
                                Total Order
                            </div>
                            <div class="uppercase font-hg font-purple" id="order">
                                @Model.TotalOrderMonth <span class="font-lg font-grey-mint"></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm">
                                Available Product
                            </div>
                            <div class="uppercase font-hg font-blue-sharp">
                                @Model.TotalAvailableProduct <span class="font-lg font-grey-mint"></span>
                            </div>
                        </div>
                    </div>
                    <div id="sales_statistics" class="portlet-body-morris-fit morris-chart" style="height: 320px">
                    </div>
                </div>
            </div>
        </div>
        <!--End Sale Summery-->
        <!-- Begin: weekly stats -->
        @*<div class="col-md-6 col-sm-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Overview</span>
                        <span class="caption-helper">monthly stats...</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="javascript:;" class="fullscreen">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#overview_1" data-toggle="tab">
                                    Top Selling
                                </a>
                            </li>
                            <li>
                                <a href="#overview_2" data-toggle="tab">
                                    Most Viewed
                                </a>
                            </li>
                            <li>
                                <a href="#overview_3" data-toggle="tab">
                                    Customers
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    Orders <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#overview_4" tabindex="-1" data-toggle="tab">
                                            Latest 10 Orders
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#overview_4" tabindex="-1" data-toggle="tab">
                                            Pending Orders
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#overview_4" tabindex="-1" data-toggle="tab">
                                            Completed Orders
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#overview_4" tabindex="-1" data-toggle="tab">
                                            Rejected Orders
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="overview_1">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Product Name
                                                </th>
                                                <th>
                                                    Price
                                                </th>
                                                <th>
                                                    Sold
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Apple iPhone 4s - 16GB - Black
                                                    </a>
                                                </td>
                                                <td>
                                                    $625.50
                                                </td>
                                                <td>
                                                    809
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Samsung Galaxy S III SGH-I747 - 16GB
                                                    </a>
                                                </td>
                                                <td>
                                                    $915.50
                                                </td>
                                                <td>
                                                    6709
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Motorola Droid 4 XT894 - 16GB - Black
                                                    </a>
                                                </td>
                                                <td>
                                                    $878.50
                                                </td>
                                                <td>
                                                    784
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Regatta Luca 3 in 1 Jacket
                                                    </a>
                                                </td>
                                                <td>
                                                    $25.50
                                                </td>
                                                <td>
                                                    1245
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Samsung Galaxy Note 3
                                                    </a>
                                                </td>
                                                <td>
                                                    $925.50
                                                </td>
                                                <td>
                                                    21245
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Inoval Digital Pen
                                                    </a>
                                                </td>
                                                <td>
                                                    $125.50
                                                </td>
                                                <td>
                                                    1245
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Metronic - Responsive Admin + Frontend Theme
                                                    </a>
                                                </td>
                                                <td>
                                                    $20.00
                                                </td>
                                                <td>
                                                    11190
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="overview_2">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Product Name
                                                </th>
                                                <th>
                                                    Price
                                                </th>
                                                <th>
                                                    Views
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Metronic - Responsive Admin + Frontend Theme
                                                    </a>
                                                </td>
                                                <td>
                                                    $20.00
                                                </td>
                                                <td>
                                                    11190
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Regatta Luca 3 in 1 Jacket
                                                    </a>
                                                </td>
                                                <td>
                                                    $25.50
                                                </td>
                                                <td>
                                                    1245
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Apple iPhone 4s - 16GB - Black
                                                    </a>
                                                </td>
                                                <td>
                                                    $625.50
                                                </td>
                                                <td>
                                                    809
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Samsung Galaxy S III SGH-I747 - 16GB
                                                    </a>
                                                </td>
                                                <td>
                                                    $915.50
                                                </td>
                                                <td>
                                                    6709
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Motorola Droid 4 XT894 - 16GB - Black
                                                    </a>
                                                </td>
                                                <td>
                                                    $878.50
                                                </td>
                                                <td>
                                                    784
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Samsung Galaxy Note 3
                                                    </a>
                                                </td>
                                                <td>
                                                    $925.50
                                                </td>
                                                <td>
                                                    21245
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Inoval Digital Pen
                                                    </a>
                                                </td>
                                                <td>
                                                    $125.50
                                                </td>
                                                <td>
                                                    1245
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="overview_3">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Customer Name
                                                </th>
                                                <th>
                                                    Total Orders
                                                </th>
                                                <th>
                                                    Total Amount
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        David Wilson
                                                    </a>
                                                </td>
                                                <td>
                                                    3
                                                </td>
                                                <td>
                                                    $625.50
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Amanda Nilson
                                                    </a>
                                                </td>
                                                <td>
                                                    4
                                                </td>
                                                <td>
                                                    $12625.50
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Jhon Doe
                                                    </a>
                                                </td>
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    $125.00
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Bill Chang
                                                    </a>
                                                </td>
                                                <td>
                                                    45
                                                </td>
                                                <td>
                                                    $12,125.70
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Paul Strong
                                                    </a>
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    $890.85
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Jane Hilson
                                                    </a>
                                                </td>
                                                <td>
                                                    5
                                                </td>
                                                <td>
                                                    $239.85
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Patrick Walker
                                                    </a>
                                                </td>
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    $1239.85
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="overview_4">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Customer Name
                                                </th>
                                                <th>
                                                    Date
                                                </th>
                                                <th>
                                                    Amount
                                                </th>
                                                <th>
                                                    Status
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        David Wilson
                                                    </a>
                                                </td>
                                                <td>
                                                    3 Jan, 2013
                                                </td>
                                                <td>
                                                    $625.50
                                                </td>
                                                <td>
                                                    <span class="label label-sm label-warning">
                                                        Pending
                                                    </span>
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Amanda Nilson
                                                    </a>
                                                </td>
                                                <td>
                                                    13 Feb, 2013
                                                </td>
                                                <td>
                                                    $12625.50
                                                </td>
                                                <td>
                                                    <span class="label label-sm label-warning">
                                                        Pending
                                                    </span>
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Jhon Doe
                                                    </a>
                                                </td>
                                                <td>
                                                    20 Mar, 2013
                                                </td>
                                                <td>
                                                    $125.00
                                                </td>
                                                <td>
                                                    <span class="label label-sm label-success">
                                                        Success
                                                    </span>
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Bill Chang
                                                    </a>
                                                </td>
                                                <td>
                                                    29 May, 2013
                                                </td>
                                                <td>
                                                    $12,125.70
                                                </td>
                                                <td>
                                                    <span class="label label-sm label-info">
                                                        In Process
                                                    </span>
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Paul Strong
                                                    </a>
                                                </td>
                                                <td>
                                                    1 Jun, 2013
                                                </td>
                                                <td>
                                                    $890.85
                                                </td>
                                                <td>
                                                    <span class="label label-sm label-success">
                                                        Success
                                                    </span>
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Jane Hilson
                                                    </a>
                                                </td>
                                                <td>
                                                    5 Aug, 2013
                                                </td>
                                                <td>
                                                    $239.85
                                                </td>
                                                <td>
                                                    <span class="label label-sm label-danger">
                                                        Canceled
                                                    </span>
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:;">
                                                        Patrick Walker
                                                    </a>
                                                </td>
                                                <td>
                                                    6 Aug, 2013
                                                </td>
                                                <td>
                                                    $1239.85
                                                </td>
                                                <td>
                                                    <span class="label label-sm label-success">
                                                        Success
                                                    </span>
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe">
                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             End: weekly stats 
        </div>*@
    </div>
</div>
<!-- END PAGE CONTENT-->

<script src="/Scripts/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="/Scripts/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="/Scripts/jquery.sparkline.min.js" type="text/javascript"></script>

<script src="/scripts/index3.js" type="text/javascript"></script>
<script src="/scripts/tasks.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function () {

        Index.init(); // init index page
        Tasks.initDashboardWidget(); // init tash dashboard widget

        $("#month").click(function () {
            $(this).addClass("active");
            $("#year").removeClass("active");
            $("#allTime").removeClass("active");
            $("#sale").html("");
            $("#revenue").html("");
            $("#order").html("");
            //$("#sale").append("0 <span class='font-lg font-grey-mint'> &#2547</span>");
            $("#sale").append("@Model.TotalSaleMonth <span class='font-lg font-grey-mint'> &#2547</span>");
            //$("#revenue").append("0 <span class='font-lg font-grey-mint'> &#2547</span>");
            $("#revenue").append("@Model.TotalRevenueMonth <span class='font-lg font-grey-mint'> &#2547</span>");
            $("#order").append("@Model.TotalOrderMonth <span class='font-lg font-grey-mint'></span>");
        });
        $("#year").click(function () {
            $(this).addClass("active");
            $("#month").removeClass("active");
            $("#allTime").removeClass("active");
            $("#sale").html("");
            $("#revenue").html("");
            $("#order").html("");
            //$("#sale").append("0 <span class='font-lg font-grey-mint'> &#2547</span>");
            $("#sale").append("@Model.TotalSaleYear <span class='font-lg font-grey-mint'> &#2547</span>");
            //$("#revenue").append("0 <span class='font-lg font-grey-mint'> &#2547</span>");
            $("#revenue").append("@Model.TotalRevenueYear <span class='font-lg font-grey-mint'> &#2547</span>");
            $("#order").append("@Model.TotalOrderYear <span class='font-lg font-grey-mint'></span>");
        });
        $("#allTime").click(function () {
            $(this).addClass("active");
            $("#month").removeClass("active");
            $("#year").removeClass("active");
            $("#sale").html("");
            $("#revenue").html("");
            $("#order").html("");
            //$("#sale").append("0 <span class='font-lg font-grey-mint'> &#2547</span>");
            $("#sale").append("@Model.AllTimeSale <span class='font-lg font-grey-mint'> &#2547</span>");
            //$("#revenue").append("0 <span class='font-lg font-grey-mint'> &#2547</span>");
            $("#revenue").append("@Model.AllTimeRevenue <span class='font-lg font-grey-mint'> &#2547</span>");
            $("#order").append("@Model.AllTimeOrder <span class='font-lg font-grey-mint'></span>");
        });
    });

</script>
