﻿@model SaRaEcomAdmin.Models.AuthModel
@{
    ViewBag.Title = "User Profile";
}
<link href="~/Content/Assets/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />
<link href="~/Content/Assets/profile.css" rel="stylesheet" />
<link href="~/Content/Assets/tasks.css" rel="stylesheet" />
<div class="page-head">
    <div class="page-title">
        <h1>Manage User Profile <small> user profile page </small></h1>
    </div>
</div>

<div class="row margin-top-10">

    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar" style="width: 250px;">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    @if (!string.IsNullOrWhiteSpace(Model.EmployeeImage))
                    {
                        <img src="@Path.Combine("/Files/EmployeeImage/",Model.EmployeeImage)" class="img-responsive" alt="@Model.EmployeeName">
                    }
                    else
                    {
                        <img src="/Content/img/profile/profile_user.jpg" class="img-responsive" alt="@Model.EmployeeName">
                    }
                    
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @Model.EmployeeName
                    </div>
                    <div class="profile-usertitle-job">
                        @Model.EmployeeId
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
                    <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="@Url.Action("UserProfile", "Auth")">
                                <i class="icon-home"></i>
                                Overview
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <i class="icon-settings"></i>
                                Account Settings
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="icon-check"></i>
                                Tasks
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-info"></i>
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light">
                <!-- STAT -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @*<div class="uppercase profile-stat-title">
                            37
                        </div>
                        <div class="uppercase profile-stat-text">
                            Projects
                        </div>*@
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @*<div class="uppercase profile-stat-title">
                            51
                        </div>
                        <div class="uppercase profile-stat-text">
                            Tasks
                        </div>*@
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @*<div class="uppercase profile-stat-title">
                            61
                        </div>
                        <div class="uppercase profile-stat-text">
                            Uploads
                        </div>*@
                    </div>
                </div>
                <!-- END STAT -->
                <div>
                    @*<h4 class="profile-desc-title">About Marcus Doe</h4>
                    <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-instagram"></i>
                        <a href="http://www.keenthemes.com">keenthemes</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-twitter"></i>
                        <a href="http://www.twitter.com/keenthemes/">keenthemes</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-facebook"></i>
                        <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
                    </div>*@
                </div>
            </div>
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                                </li>
                                <li>
                                    <a href="#tab_1_2" data-toggle="tab">Change Avatar</a>
                                </li>
                                <li>
                                    <a href="#tab_1_3" data-toggle="tab">Change Password</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    @using (Html.BeginForm("EditOrUpdateUserInfo", "Auth", FormMethod.Post, new { @class="", role="form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            @*<label class="control-label">Full Name</label>
                                                <input type="text" placeholder="John" class="form-control">*@
                                            @Html.LabelFor(c => c.EmployeeName, new { @class = "control-label" })
                                            @Html.TextBoxFor(c => c.EmployeeName, new { @class = "form-control", placeholder = "Employee Name" })
                                            @Html.ValidationMessageFor(c => c.EmployeeName)

                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(c => c.EmployeeEmail, new { @class = "control-label" })
                                            @Html.TextBoxFor(c => c.EmployeeEmail, new { @class = "form-control", placeholder = "Employee Name" })
                                            @Html.ValidationMessageFor(c => c.EmployeeEmail)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(c => c.EmployeePhone, new { @class = "control-label" })
                                            @Html.TextBoxFor(c => c.EmployeePhone, new { @class = "form-control", placeholder = "Employee Name" })
                                            @Html.ValidationMessageFor(c => c.EmployeePhone)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(c => c.EmployeeDesignation, new { @class = "control-label" })
                                            @Html.TextBoxFor(c => c.EmployeeDesignation, new { @class = "form-control", placeholder = "Employee Name" })
                                            @Html.ValidationMessageFor(c => c.EmployeeDesignation)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(c => c.EmployeeArea, new { @class = "control-label" })
                                            @Html.TextBoxFor(c => c.EmployeeArea, new { @class = "form-control", placeholder = "Employee Name" })
                                            @Html.ValidationMessageFor(c => c.EmployeeArea)
                                        </div>
                                        <div class="margin-top-10">
                                            @Html.HiddenFor(c => c.EmployeeId)
                                            @Html.HiddenFor(c => c.HeadOfficeId)
                                            @Html.HiddenFor(c => c.BranchOfficeId)
                                            <button class="btn green-haze" type="submit">Save Changes</button>
                                        </div>
                                    }
                                </div>
                                <!-- END PERSONAL INFO TAB -->
                                <!-- CHANGE AVATAR TAB -->
                                <div class="tab-pane" id="tab_1_2">
                                    @using (Html.BeginForm("EditOrUpdateUserImage", "Auth", FormMethod.Post, new {@class="", id="EmployeeImageSave", role="form", @enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail" style="width: 150px; height: 150px;">
                                                    <img src="@Path.Combine("/Files/EmployeeImage/",Model.EmployeeImage)" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                                                </div>
                                                <div>
                                                    <span class="btn default btn-file">
                                                        <span class="fileinput-new">
                                                            Select image
                                                        </span>
                                                        <span class="fileinput-exists">
                                                            Change
                                                        </span>
                                                        @*<input type="file" name="...">*@
                                                        @Html.TextBoxFor(c => c.Image, new { @type = "file" })
                                                    </span>
                                                    <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput">
                                                        Remove
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="clearfix margin-top-10">
                                                <span class="label label-danger">NOTE! </span>
                                                <span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                                            </div>
                                        </div>
                                        <div class="margin-top-10">
                                            @Html.HiddenFor(c => c.EmployeeId)
                                            @Html.HiddenFor(c => c.HeadOfficeId)
                                            @Html.HiddenFor(c => c.BranchOfficeId)
                                            @Html.HiddenFor(c => c.EmployeeImage)
                                            <button type="submit" id="employeeImage" class="btn green-haze">Submit</button>
                                        </div>
                                    }

                                </div>
                                <!-- END CHANGE AVATAR TAB -->
                                <!-- CHANGE PASSWORD TAB -->
                                <div class="tab-pane" id="tab_1_3">
                                    @using (Html.BeginForm("EditOrUpdateUserPassword", "Auth", FormMethod.Post, new {@class=""}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            @Html.LabelFor(c => c.EmployeePassword, new { @class="control-label"})
                                            @Html.TextBoxFor(c => c.EmployeePassword, new { @class="form-control", type="password" })
                                            @Html.ValidationMessageFor(c => c.EmployeePassword)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(c => c.NewPassword, new { @class = "control-label" })
                                            @Html.TextBoxFor(c => c.NewPassword, new { @class = "form-control", type = "password" })
                                            @Html.ValidationMessageFor(c => c.NewPassword)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(c => c.RetypePassword, new { @class = "control-label" })
                                            @Html.TextBoxFor(c => c.RetypePassword, new { @class = "form-control", type = "password" })
                                            @Html.ValidationMessageFor(c => c.RetypePassword)
                                        </div>
                                        <div class="margin-top-10">
                                            @Html.HiddenFor(c => c.EmployeeId)
                                            @Html.HiddenFor(c => c.HeadOfficeId)
                                            @Html.HiddenFor(c => c.BranchOfficeId)
                                            <button class="btn green-haze">Change Password</button>
                                        </div>
                                    }

                                </div>
                                <!-- END CHANGE PASSWORD TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>

</div>
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Content/Assets/bootstrap-fileinput/bootstrap-fileinput.js"></script>
<script src="~/Scripts/jquery.sparkline.min.js"></script>

<script>
    $(document).ready(function() {
        @{
            if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
            {
                <text>
                    var message = '@ViewBag.Message';


                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "positionClass": "toast-top-center",
                        "onclick": null,
                        "showDuration": "1000",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info(message, 'Information!');
                </text>
            }
        }
        $("#employeeImage").click(function(e) {
            e.preventDefault();
            var validImageTypes = ["image/jpg", "image/jpeg", "image/png"];
            var image = $("#Image")[0].files[0];

            if (image != null) {
                var fileType = image["type"];
                if (!$.inArray(fileType, validImageTypes) > 0) {
                    $.dialog({
                        title: 'Required!',
                        content: 'image required or image must be jpg / jpeg / png.'
                    });
                } else {
                    $("#EmployeeImageSave").submit();
                }
            } else {
                $.dialog({
                    title: 'Required!',
                    content: 'image required or image must be jpg / jpeg / png.'
                });
            }
        });
    });
</script>