﻿@model SaRaEcomAdmin.Models.AuthModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SaRa | Login Options - Login Form</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="SaRa LifeSytle" name="description" />
    <meta content="ERP Team" name="author" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/Assets/css")
    <link href="../../Content/pages/login.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    @Scripts.Render("~/bundles/jquery")
    <link rel="shortcut icon" href="../../favicon.ico" />
</head>
<body class="login">
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="#">
            <img src="../../Content/img/logo-big.png" style="height: 50px;" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.AntiForgeryToken()
            <h3 class="form-title">Sign In</h3>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                @*<label class="control-label visible-ie8 visible-ie9">Employee ID</label>*@
                @Html.TextBoxFor(c => c.EmployeeId, new { @class = "form-control form-control-solid", @type = "text", @autocomplete = "off", @placeholder = "Employee ID", @name = "Employee ID" })
                @Html.ValidationMessageFor(c => c.EmployeeId, "", new { @class = "text-danger", @style = "font-size: xx-small" })
            </div>
            <div class="form-group">
                @*<label class="control-label visible-ie8 visible-ie9">Password</label>*@
                @Html.TextBoxFor(c => c.EmployeePassword, new { @class = "form-control form-control-solid", @type = "password", @autocomplete = "off", @placeholder = "Password", @name = "password" })
                @Html.ValidationMessageFor(c => c.EmployeePassword, "", new { @class = "text-danger", @style = "font-size: xx-small" })
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success btn-block uppercase">Login</button>
            </div>
            <div class="form-actions">
                <div class="pull-left">
                    <label class="rememberme check">
                        <input type="checkbox" name="remember" value="1" />Remember me
                    </label>
                </div>
                <div class="pull-right forget-password-block">
                    <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                </div>
            </div>
        }

        <!-- END LOGIN -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        @using (Html.BeginForm("ForgotePassword", "Auth", FormMethod.Post, new { @class = "forget-form" }))
        {
            @Html.AntiForgeryToken()
            <h3>Forget Password ?</h3>
            <p>
                Enter your e-mail address below to reset your password.
            </p>
            <div class="form-group">
                @Html.TextBoxFor(c => c.EmployeeEmail, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "Email", @name = "email" })
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn btn-default">Back</button>
                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        }
        <!-- END FORGOT PASSWORD FORM -->
    </div>
    <div class="copyright hide">
        &copy; @DateTime.Now.Year - SaRa LifeStyle Ltd.
    </div>

    @Scripts.Render("~/bundles/script")
    @Scripts.Render("~/bundles/jqueryval")


    <script src="../../Scripts/login.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Login.init();
            Demo.init();

            @{
                if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
                {
                    <text>
            var message = '@ViewBag.Message';
            toastr.error(message, 'Inconceivable!');
                    </text>
                }
            }
        });
    </script>
</body>
</html>
