﻿@model SaRaEcomAdmin.Models.AuthModel
@{
    ViewBag.Title = "User Profile";
}
<link href="~/Content/Assets/profile.css" rel="stylesheet" />
<link href="~/Content/Assets/tasks.css" rel="stylesheet" />
<div class="page-head">
    <div class="page-title">
        <h1>Manage User Profile <small> user profile page </small></h1>
    </div>
</div>

<div class="row margin-top-10">

    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar" style="width: 250px;">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    @if (!string.IsNullOrWhiteSpace(Model.EmployeeImage))
                    {
                        <img src="@Path.Combine("/Files/EmployeeImage/",Model.EmployeeImage)" class="img-responsive" alt="@Model.EmployeeName">
                    }
                    else
                    {
                        <img src="/Content/img/profile/profile_user.jpg" class="img-responsive" alt="@Model.EmployeeName">
                    }
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @Model.EmployeeName
                    </div>
                    <div class="profile-usertitle-job">
                        @Model.EmployeeId
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
                    <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="icon-home"></i>
                                Overview
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("EditUserAccount", "Auth")">
                                <i class="icon-settings"></i>
                                Account Settings
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="icon-check"></i>
                                Tasks
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-info"></i>
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light">
                <!-- STAT -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @*<div class="uppercase profile-stat-title">
                            37
                        </div>
                        <div class="uppercase profile-stat-text">
                            Projects
                        </div>*@
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @*<div class="uppercase profile-stat-title">
                            51
                        </div>
                        <div class="uppercase profile-stat-text">
                            Tasks
                        </div>*@
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        @*<div class="uppercase profile-stat-title">
                            61
                        </div>
                        <div class="uppercase profile-stat-text">
                            Uploads
                        </div>*@
                    </div>
                </div>
                <!-- END STAT -->
                <div>
                    @*<h4 class="profile-desc-title">About Marcus Doe</h4>
                    <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-instagram"></i>
                        <a href="http://www.keenthemes.com">keenthemes</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-twitter"></i>
                        <a href="http://www.twitter.com/keenthemes/">keenthemes</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-facebook"></i>
                        <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
                    </div>*@
                </div>
            </div>
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-6">
                    <!-- BEGIN PORTLET -->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Your Activity</span>
                                <span class="caption-helper hide">weekly stats...</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                                        <input type="radio" name="options" class="toggle" id="option1">Today
                                    </label>
                                    <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                        <input type="radio" name="options" class="toggle" id="option2">Week
                                    </label>
                                    <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                        <input type="radio" name="options" class="toggle" id="option2">Month
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row number-stats margin-bottom-30">
                                @*<div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="stat-left">
                                        <div class="stat-chart">
                                            <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                            <div id="sparkline_bar"><canvas width="90" height="45" style="display: inline-block; width: 90px; height: 45px; vertical-align: top;"></canvas></div>
                                        </div>
                                        <div class="stat-number">
                                            <div class="title">
                                                Total
                                            </div>
                                            <div class="number">
                                                246
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="stat-right">
                                        <div class="stat-chart">
                                            <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                            <div id="sparkline_bar2"><canvas width="90" height="45" style="display: inline-block; width: 90px; height: 45px; vertical-align: top;"></canvas></div>
                                        </div>
                                        <div class="stat-number">
                                            <div class="title">
                                                New
                                            </div>
                                            <div class="number">
                                                719
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                            @*<div class="table-scrollable table-scrollable-borderless">
                                <table class="table table-hover table-light">
                                    <thead>
                                        <tr class="uppercase">
                                            <th colspan="2">
                                                MEMBER
                                            </th>
                                            <th>
                                                Earnings
                                            </th>
                                            <th>
                                                CASES
                                            </th>
                                            <th>
                                                CLOSED
                                            </th>
                                            <th>
                                                RATE
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="fit">
                                                <img class="user-pic" src="/Content/img/avatar4.jpg">
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="primary-link">Brain</a>
                                            </td>
                                            <td>
                                                $345
                                            </td>
                                            <td>
                                                45
                                            </td>
                                            <td>
                                                124
                                            </td>
                                            <td>
                                                <span class="bold theme-font">80%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fit">
                                                <img class="user-pic" src="/Content/img/avatar5.jpg">
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="primary-link">Nick</a>
                                            </td>
                                            <td>
                                                $560
                                            </td>
                                            <td>
                                                12
                                            </td>
                                            <td>
                                                24
                                            </td>
                                            <td>
                                                <span class="bold theme-font">67%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fit">
                                                <img class="user-pic" src="/Content/img/avatar6.jpg">
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="primary-link">Tim</a>
                                            </td>
                                            <td>
                                                $1,345
                                            </td>
                                            <td>
                                                450
                                            </td>
                                            <td>
                                                46
                                            </td>
                                            <td>
                                                <span class="bold theme-font">98%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fit">
                                                <img class="user-pic" src="/Content/img/avatar7.jpg">
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="primary-link">Tom</a>
                                            </td>
                                            <td>
                                                $645
                                            </td>
                                            <td>
                                                50
                                            </td>
                                            <td>
                                                89
                                            </td>
                                            <td>
                                                <span class="bold theme-font">58%</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@
                        </div>
                    </div>
                    <!-- END PORTLET -->
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>

</div>

