﻿@model SaRaEcomAdmin.Models.Orders
@{
    double total = 0;
}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Order Details</h4>
</div>
<div class="modal-body" id="saleInfoModal">
    <div class="row">
        <div class="col-md-4">
            <h4>Customer Details:</h4>
            <table class="table table-full-width table-hover table-bordered">
                <tr>
                    <td>Order Number:</td>
                    <td>@Model.OrderNumber</td>
                </tr>
                <tr>
                    <td>Order Date:</td>
                    <td>@Model.OrderDate</td>
                </tr>
                <tr>
                    <td>Customer Name:</td>
                    <td>@Model.CustomerName</td>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td>@Model.PhoneNumber</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td>@Model.Address1</td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td>@Model.Address2</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>@Model.City</td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>@Model.Country</td>
                </tr>
                <tr>
                    <td>Payment Type:</td>
                    <td>@Model.PaymentType</td>
                </tr>
                <tr>
                    <td>Payment Status:</td>
                    <td>@Model.PaymentStatus</td>
                </tr>
            </table>
        </div>
        <div class="col-md-8" id="itemTable">
            <h4>Product Details:</h4>
            <table class="table table-bordered table-hover table-responsive table-full-width">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>SKU</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @{
                    if (Model.OrderedProducts != null)
                    {
                        foreach (var data in Model.OrderedProducts)
                        {
                            var subTotal = data.Price * data.Quantity;

                            total = total + subTotal;
                            <tr>
                                <td>@Html.Raw(data.ProductName)</td>
                                <td>@Html.Raw(data.Sku)</td>
                                <td>@data.SizeName</td>
                                <td>@data.ColorName</td>
                                <td>@data.Quantity</td>
                                <td>@data.Price</td>
                                <td>@subTotal</td>
                                <td><a class="itemDelete" data-order="@Model.OrderNumber" data-id="@data.OrderId"><span class="fa fa-trash-o"></span></a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <script type="text/javascript">
                            location.reload();
                        </script>
                    }
                    
                }
                
                </tbody>
            </table>
            <hr />
            <div class="pull-right">
                <h4>Sub-Total:  @total</h4>
                <h4>Shipping Cost:  @Model.ShippingCost</h4>
                <h4>( 7.5% ) VAT:  Included</h4>
                @if (!string.IsNullOrWhiteSpace(Model.Discount))
                {
                    var discountAmount = ((total * Convert.ToDouble(Model.Discount)) / 100);
                    <h4>Discount ( @Model.Discount% ) : @discountAmount</h4>
                    <h4>Total : @Model.TotalAmount</h4>
                }
                else
                {
                    <h4>Total : @Model.TotalAmount</h4>
                }
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Close</button>
    <button type="button" class="btn red btn-cancel">Cancel Order</button>
    <button type="button" class="btn blue btn-order">Confirm Order</button>
</div>

<script>
    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        $(".itemDelete").on('click', function () {
            var orderId = $(this).data("id");
            var orderNumber = $(this).data("order");
            var delay = 0;
            @*var orderNumber = '@Model.OrderNumber';*@

            $.ajax
            ({
                type: "GET",
                url: "/Sales/DeleteOrderItem",
                dataType: 'json',
                data: { "orderNumber": orderNumber, "orderId": orderId },
                success: function (data) {
                    $.alert(data);
                    $.ajax
                    ({
                        url: "/Sales/OrderDetails",
                        data: { "orderNumber": orderNumber },
                        contentType: "application/html; charset=utf-8",
                        type: "GET",
                        cache: !0,
                        datatype: "html",
                        success: function (data) {
                            setTimeout(function() {
                                    $(".modal-content").html(data);
                                },
                                delay);
                        },
                        error: function () {
                            $(".modal-body").html("some things wrong");
                        }
                    }); 
                },
                error: function (data) {
                    $.alert(data);
                }
            });
        });

        $(".btn-order").click(function () {
            var orderNumber = '@Model.OrderNumber';
            var phoneNumber = '@Model.PhoneNumber';
            var email = '@Model.Email';
            $.ajax
            ({
                type: "GET",
                url: "/Sales/OrderConfirm",                    
                dataType: 'json',
                data: { "orderNumber": orderNumber, "email": email, "phoneNo": phoneNumber },
                success: function (data) {
                    alert(data);
                    location.reload();  
                },
                error: function () {
                    $(".modal-body").html("some things wrong");
                }
            });
        });

        $(".btn-cancel").click(function() {
            var orderNumber = '@Model.OrderNumber';

            $.confirm({
                title: 'Rejection Remarks!',
                content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>Enter rejection remarks</label>' +
                    '<textarea name="remarks" id="remarks" placeholder="Write Rejection Remarks" class="remarks form-control" required rows="5"></textarea>' +
                    '</div>' +
                    '</form>',
                buttons: {
                    formSubmit: {
                        text: 'Submit',
                        btnClass: 'btn-blue',
                        action: function () {
                            var name = this.$content.find('.remarks').val();
                            var email = '@Model.Email';
                            var phoneNumber = '@Model.PhoneNumber';
                            if(!name){
                                $.alert('remarks is required');
                                return false;
                            }
                            $.ajax
                            ({
                                type: "GET",
                                url: "/Sales/OrderDelete",                    
                                dataType: 'json',
                                data: { "orderNumber": orderNumber, "remarks": name, "email": email, "phoneNo": phoneNumber },
                                success: function (data) {
                                    alert(data);
                                    location.reload();  
                                },
                                error: function () {
                                    $(".modal-body").html("some things wrong");
                                }
                            });
                        }
                    },
                    cancel: function () {
                        //close
                    },
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        });
    });
</script>