﻿@model SaRaEcomAdmin.Models.PreOrders

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Pre-Order Details</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <h4>Customer Details:</h4>
            <table class="table table-full-width table-hover table-bordered">
                <tr>
                    <td>Order Number:</td>
                    <td>@Model.OrderNumber</td>
                </tr>
                <tr>
                    <td>Order Date:</td>
                    <td>@Model.OrderDate</td>
                </tr>
                <tr>
                    <td>Customer Name:</td>
                    <td>@Model.CustomerName</td>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td>@Model.CustomerPhone</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Model.CustomerEmail</td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td>@Model.CustomerAddress</td>
                </tr>
            </table>
        </div>
        <div class="col-md-8">
            <h4>Product Details:</h4>
            <table class="table table-bordered table-hover table-responsive table-full-width">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>SKU</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@Html.Raw(Model.ProductName)</td>
                    <td>@Html.Raw(Model.Sku)</td>
                    <td>@Model.ProductPrice</td>
                    <td><img src="@Path.Combine("/Files/UpcomingProduct/", Model.ProductImage)" style="width: 60px; height: 80px;"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Close</button>
    <button type="button" class="btn red btn-cancel">Cancel Order</button>
    <button type="button" class="btn blue btn-order">Confirm Order</button>
</div>

<script>
    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        $(".btn-order").click(function () {
            $.confirm({
                title: 'Order Confirmation!',
                content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>Enter Delivery Date</label>' +
                    '<input type="date" class="form-control input-circle datepicker" id="inputDate">' +
                    '</div>' +
                    '<div class="form-group">' +
                    '<label>Enter delivery remarks</label>' +
                    '<textarea name="remarks" id="remarks" placeholder="Write Rejection Remarks" class="remarks form-control input-circle" required rows="5"></textarea>' +
                    '</div>' +
                    '</form>',
                buttons: {
                    formSubmit: {
                        text: 'Submit',
                        btnClass: 'btn-blue',
                        action: function () {
                            var name = this.$content.find('.remarks').val();
                            var date = this.$content.find('#inputDate').val();
                            var orderNumber = '@Model.OrderNumber';
                            if (!name) {
                                $.alert('remarks is required');
                                return false;
                            } else if (!date) {
                                $.alert('date is required');
                                return false;
                            }
                            $.ajax
                            ({
                                type: "GET",
                                url: "/Sales/PreOrderConfirm",
                                dataType: 'json',
                                data: { "orderNumber": orderNumber, "remarks": name, "deliveryDate": date },
                                success: function (data) {
                                    $.alert(data);
                                    window.setTimeout(function() { location.reload() }, 2000);
                                },
                                error: function () {
                                    $(".modal-body").html("some things wrong");
                                }
                            });
                        }
                    },
                    cancel: function () {
                        //close
                    },
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        });

        $(".btn-cancel").click(function() {
            $.confirm({
                title: 'Rejection Remarks!',
                content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>Enter rejection remarks</label>' +
                    '<textarea name="remarks" id="remarks" placeholder="Write Rejection Remarks" class="remarks form-control" required rows="5"></textarea>' +
                    '</div>' +
                    '</form>',
                buttons: {
                    formSubmit: {
                        text: 'Submit',
                        btnClass: 'btn-blue',
                        action: function () {
                            var name = this.$content.find('.remarks').val();
                            var orderNumber = '@Model.OrderNumber';
                            if(!name){
                                $.alert('remarks is required');
                                return false;
                            }
                            $.ajax
                            ({
                                type: "GET",
                                    url: "/Sales/PreOrderReject",
                                dataType: 'json',
                                    data: { "orderNumber": orderNumber, "remarks": name },
                                success: function (data) {
                                    $.alert(data);
                                    window.setTimeout(function() { location.reload() }, 2000);
                                },
                                error: function () {
                                    $(".modal-body").html("some things wrong");
                                }
                            });
                        }
                    },
                    cancel: function () {
                        //close
                    },
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        });
    });
</script>