﻿@model SaRaEcomAdmin.Models.Orders
@{
    double total = 0;
}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Reject Details</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <h4>Customer Details:</h4>
            <table class="table table-full-width table-hover table-bordered">
                <tr>
                    <td>Order Number:</td>
                    <td>@Model.OrderNumber</td>
                </tr>
                <tr>
                    <td>Order Date:</td>
                    <td>@Model.OrderDate</td>
                </tr>
                <tr>
                    <td>Reject Date:</td>
                    <td>@Model.RejectDate</td>
                </tr>
                <tr>
                    <td>Reject By:</td>
                    <td>@Model.RejectBy</td>
                </tr>
                <tr>
                    <td>Reject Remarks:</td>
                    <td>@Model.RejectRemarks</td>
                </tr>
                <tr>
                    <td>Customer Name:</td>
                    <td>@Model.CustomerName</td>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td>@Model.PhoneNumber</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td>@Model.Address1</td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td>@Model.Address2</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>@Model.City</td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>@Model.Country</td>
                </tr>
                <tr>
                    <td>Payment Type:</td>
                    <td>@Model.PaymentType</td>
                </tr>
                <tr>
                    <td>Payment Status:</td>
                    <td>@Model.PaymentStatus</td>
                </tr>
            </table>
        </div>
        <div class="col-md-8">
            <h4>Product Details:</h4>
            <table class="table table-bordered table-hover table-responsive table-full-width">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>SKU</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.OrderedProducts)
                    {
                        var subTotal = data.Price * data.Quantity;

                        total = total + subTotal;
                        <tr>
                            <td>@Html.Raw(data.ProductName)</td>
                            <td>@Html.Raw(data.Sku)</td>
                            <td>@data.SizeName</td>
                            <td>@data.ColorName</td>
                            <td>@data.Quantity</td>
                            <td>@data.Price</td>
                            <td>@subTotal</td>
                        </tr>
                    }
                </tbody>
            </table>
            <hr />
            <div class="pull-right">
                <h4>Sub-Total:  @total</h4>
                <h4>Shipping Cost:  @Model.ShippingCost</h4>
                <h4>( 7.5% ) VAT:  Included</h4>
                @if (!string.IsNullOrWhiteSpace(Model.Discount))
                {
                    var discountAmount = ((total * Convert.ToDouble(Model.Discount)) / 100);
                    <h4>Discount ( @Model.Discount% ) : @discountAmount</h4>
                    <h4>Total : @Model.TotalAmount</h4>
                }
                else
                {
                    <h4>Total : @Model.TotalAmount</h4>
                }
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Close</button>
</div>