﻿@model SaRaEcomAdmin.Models.Orders
@{
    double total = 0;
}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Return Request Details</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <h4>Customer Details:</h4>
            <table class="table table-full-width table-hover table-bordered">
                <tr>
                    <td>Order Number:</td>
                    <td>@Model.OrderNumber</td>
                </tr>
                <tr>
                    <td>Return Request Date:</td>
                    <td>@Model.ReturnDate</td>
                </tr>
                <tr>
                    <td>Order Date:</td>
                    <td>@Model.OrderDate</td>
                </tr>
                <tr>
                    <td>Delivery Date:</td>
                    <td>@Model.DeliveryDate</td>
                </tr>
                <tr>
                    <td>Customer Name:</td>
                    <td>@Model.CustomerName</td>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td>@Model.PhoneNumber</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td>@Model.Address1</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>@Model.City</td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>@Model.Country</td>
                </tr>
                <tr>
                    <td>Return Reason:</td>
                    <td>@Model.ReturnReason</td>
                </tr>
                <tr>
                    <td>Exchange Type:</td>
                    <td>@Model.ExchangeType</td>
                </tr>
                <tr>
                    <td>Comment:</td>
                    <td>@Model.Comment</td>
                </tr>
            </table>
        </div>
        <div class="col-md-8">
            <h4>Product Details:</h4>
            <table class="table table-bordered table-hover table-responsive table-full-width">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>SKU</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.OrderedProducts)
                    {
                        var subTotal = data.Price * data.Quantity;

                        total = total + subTotal;
                        <tr>
                            <td>@Html.Raw(data.ProductName)</td>
                            <td>@Html.Raw(data.Sku)</td>
                            <td>@data.SizeName</td>
                            <td>@data.ColorName</td>
                            <td>@data.Quantity</td>
                            <td>@data.Price</td>
                            <td>@subTotal</td>
                        </tr>
                    }
                </tbody>
            </table>
            <hr />
            <div class="pull-right">
                <h4>Total : @total</h4>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Close</button>
    <button type="button" class="btn red btn-cancel">Reject Return</button>
    <button type="button" class="btn blue btn-order">Confirm Return</button>
</div>

<script>
    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        $(".btn-order").click(function () {
            var returnRequestId = '@Model.ReturnRequestId';
            $.ajax
            ({
                type: "GET",
                    url: "/Sales/ReturnRequestConfirm",
                    dataType: 'json',
                    data: { "returnRequestId": returnRequestId },
                    success: function (data) {
                    alert(data);
                     location.reload();
                },
                error: function () {
                $(".modal-body").html("some things wrong");
                }
             });
        });

        $(".btn-cancel").click(function() {
            var returnRequestId = '@Model.ReturnRequestId';

            $.ajax
            ({
                type: "GET",
                url: "/Sales/ReturnRequestReject",
                dataType: 'json',
                data: { "returnRequestId": returnRequestId},
                success: function (data) {
                    alert(data);
                    location.reload();
                },
                error: function () {
                    $(".modal-body").html("some things wrong");
                }
            });
        });
    });
</script>
