﻿@model IEnumerable<SaRaEcomAdmin.Models.Orders>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <div class="page-title">
        <h1>Manage Orders</h1>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Order Lists
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="categoryTable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Order Number</th>
                            <th>Order Date</th>
                            <th>Customer Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Payment Type</th>
                            <th>Payment Status</th>
                            <th class="text-center" style="width: 10%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model.Any())
                        {
                            int counter = 1;
                            foreach (var data in Model)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td>@data.OrderNumber</td>
                                    <td>@data.OrderDate</td>
                                    <td>@data.CustomerName</td>
                                    <td>@data.Email</td>
                                    <td>@data.PhoneNumber</td>
                                    <td>@data.PaymentType</td>
                                    <td>@data.PaymentStatus</td>
                                    <td class="text-center">
                                        @*<a class="btn btn-danger" data-toggle="modal" data-ordernumber="@data.OrderNumber" href="#large">
                                            Confirm Order
                                        </a>*@
                                        <a class="btn btn-danger" href="#" data-target="#ajax" data-ordernumber="@data.OrderNumber" data-toggle="modal">
                                            View Details
                                        </a>
                                    </td>
                                </tr>
                                counter = counter + 1;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="9" class="text-center">No Data Found</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ajax" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-body">
                <img src="/Content/img/loading-spinner-grey.gif" alt="" class="loading">
                <span>
                    &nbsp;&nbsp;Loading... </span>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".btn-danger").click(function () {
            var delay = 0;
            var orderNumber = $(this).data("ordernumber");
            $.ajax
                ({
                    url: "/Sales/OrderDetails",
                    data: { "orderNumber": orderNumber },
                    contentType: "application/html; charset=utf-8",
                    type: "GET",
                    cache: !0,
                    datatype: "html",
                    success: function (data) {
                        setTimeout(function() {
                            $(".modal-content").html(data);
                            },
                            delay);
                    },
                    error: function () {
                        $(".modal-body").html("some things wrong");
                    }
                });
        });
    });
</script>

