﻿@model SaRaEcomAdmin.Models.ProductInventoryModel
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("SaveOrUpdate", "ProductInventory", FormMethod.Post, new { @class = "form-horizontal product-datils-form", id = "productDetails", role = "form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(c => c.ProductId)
    <div class="page-head">
        <div class="page-title">
            @if (Model.ProductId != 0)
            {
                <h1>Edit Product  <small><a href="@Url.Action("Index", "ProductInventory")" style="text-decoration: none !important">go back to product list</a></small></h1>
            }
            else
            {
                <h1>Add Product  <small><a href="@Url.Action("Index", "ProductInventory")" style="text-decoration: none !important">go back to product list</a></small></h1>
            }
        </div>
        <div class="page-toolbar">
            <button class="btn btn-primary btn-circle btn-pro-save" type="submit"><i class="fa fa-save"></i> SAVE</button>
        </div>
    </div>

    <div class="row margin-top-10">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    @if (Model.ProductId != 0)
                    {
                        <div class="caption">
                            <i class="fa fa-gift"></i>Edit Product
                        </div>
                    }
                    else
                    {
                        <div class="caption">
                            <i class="fa fa-gift"></i>Add Product
                        </div>
                    }
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
                        <a href="@Url.Action("Create", "ProductInventory")" class="reload"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a class="active" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="true">Product Info</a>
                            </li>
                            <li>
                                <a class="" id="picture-tab" data-toggle="tab" href="#picture" role="tab" aria-controls="picture" aria-selected="false">Color & Pictures</a>
                            </li>
                            <li>
                                <a class="" id="size-tab" data-toggle="tab" href="#size" role="tab" aria-controls="size" aria-selected="false">Size & Quantity</a>
                            </li>
                            <li>
                                <a class="" id="ratio-tab" data-toggle="tab" href="#ratio" role="tab" aria-controls="size" aria-selected="false">Size Ratio</a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            @*Product Info Start*@
                            <div class="tab-pane active" id="product">
                                <div class="row margin-top-15">
                                    <div class="col-md-7">
                                        @*General information section*@
                                        <div class="portlet box blue-hoki">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-gift"></i>General Information
                                                </div>
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-3 text-right">
                                                        @Html.LabelFor(c => c.ProductName, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                        @*<div title="The name of the product."><i class="ti-help-alt"></i></div>*@
                                                    </div>
                                                    <div class="col-sm-9">
                                                        @Html.TextBoxFor(c => c.ProductName, new { @class = "form-control input-circle", placeholder = "Enter Product Name" })
                                                        @Html.ValidationMessageFor(c => c.ProductName)
                                                    </div>
                                                </div>
                                                <div class="form-group row nicEditDetails">
                                                    <div class="col-sm-3 text-right">
                                                        @Html.LabelFor(c => c.ShortDescription, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        @Html.TextBoxFor(c => c.ShortDescription, new { @class = "form-control input-circle", placeholder = "Enter Short Description" })
                                                        @Html.ValidationMessageFor(c => c.ShortDescription)
                                                    </div>
                                                </div>
                                                <div class="form-group row nicEditDetails">
                                                    <div class="col-sm-3 text-right">
                                                        @Html.LabelFor(c => c.FullDescription, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        @Html.TextAreaFor(c => c.FullDescription, new { @class = "form-control input-circle", placeholder = "Enter Full Description" })
                                                        @Html.ValidationMessageFor(c => c.FullDescription)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-3 text-right">
                                                        @Html.LabelFor(c => c.Sku, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        @Html.TextBoxFor(c => c.Sku, new { @class = "form-control input-circle", placeholder = "Enter Product Code" })
                                                        @Html.ValidationMessageFor(c => c.Sku)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-3 text-right">
                                                        @Html.LabelFor(c => c.PrimaryImage, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <div class="form-group">
                                                            <div class="show-image-div show-image-divm">
                                                                <a data-target="#imageModal" data-toggle="modal">
                                                                    @if (Model.PrimaryImageString != null)
                                                                    {
                                                                        <img id="showImage" class="show-prev-img show-prev-imgm" src="@Path.Combine("/Files/ImageProductMain/", Model.PrimaryImageString)" style="width: 100px; height: 100px; border: 1px solid #ddd; padding: 3px;">
                                                                        @Html.HiddenFor(c => c.PrimaryImageString)
                                                                    }
                                                                    else
                                                                    {
                                                                        <img id="showImage" class="show-prev-img show-prev-imgm" style="width: 100px; height: 100px; border: 1px solid #ddd; padding: 3px;">
                                                                    }
                                                                </a>
                                                            </div>
                                                            @if (Model.ProductId != 0)
                                                            {
                                                                <div class="fileUpload fileUploadm btn btn-sm btn-primary btn-image btn-imagem">
                                                                    <span><i class="fa fa-picture-o"></i> Choose Image</span>
                                                                    @{Html.EnableClientValidation(false);}
                                                                    @Html.TextBoxFor(m => m.PrimaryImage, "", new { @type = "file", @class = "imageUpload imageUploadm" })
                                                                    @Html.HiddenFor(c => c.PrimaryImage, new { @Value = Model.PrimaryImageString })

                                                                </div>
                                                                @Html.ValidationMessageFor(m => m.PrimaryImage)
                                                                Html.EnableClientValidation(true);

                                                            }
                                                            else
                                                            {
                                                                <div class="fileUpload fileUploadm btn btn-sm btn-primary btn-image btn-imagem">
                                                                    <span><i class="fa fa-picture-o"></i> Choose Image</span>
                                                                    @Html.TextBoxFor(m => m.PrimaryImage, "", new { @type = "file", @class = "imageUpload imageUploadm" })
                                                                    @Html.HiddenFor(c => c.PrimaryImage, new { @Value = Model.PrimaryImageString })

                                                                </div>
                                                                @Html.ValidationMessageFor(m => m.PrimaryImage)
                                                            }

                                                            <br /><br /><p><span class="label label-danger">NOTE!</span> Image Must be JPG or PNG and Ratio 600*800</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-3 text-right">
                                                        @Html.LabelFor(c => c.ActiveStatus, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        @Html.CheckBoxFor(c => c.ActiveStatus, new { @class = "make-switch" })
                                                        @Html.ValidationMessageFor(c => c.ActiveStatus)
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal -->
                                            <!--Product Image Modal-->
                                            <div id="imageModal" class="modal fade" tabindex="-1" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                            <h4 class="modal-title">Product Image</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                                                                <div class="row">
                                                                    @if (Model.PrimaryImageString != null)
                                                                    {
                                                                        <img id="displayImage" class="show-prev-img" src="@Path.Combine("/Files/ImageProductMain/", Model.PrimaryImageString)" style="width: 100%; height: 100%; border: 1px solid #ddd; padding: 3px;" alt="no image selected">
                                                                    }
                                                                    else
                                                                    {
                                                                        <img id="displayImage" class="show-prev-img" style="width: 100%; height: 100%; border: 1px solid #ddd; padding: 3px;" alt="no image selected">
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" data-dismiss="modal" class="btn default">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Product Image Modal End-->
                                        </div>
                                        @*End General information section*@
                                    </div>
                                    <div class="col-md-5">
                                        @*Mapping information section*@
                                        <div class="portlet box blue-hoki">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-gift"></i>Mapping
                                                </div>
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-4 text-right">
                                                        @Html.LabelFor(c => c.FabricId, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(m => m.FabricId, ViewBag.FabricList as SelectList, new { @class = "form-control input-circle" })
                                                        @Html.ValidationMessageFor(c => c.FabricId)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4 text-right">
                                                        @Html.LabelFor(c => c.MeasurementUnitId, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(m => m.MeasurementUnitId, ViewBag.MeasurementUnitList as SelectList, new { @class = "form-control input-circle" })
                                                        @Html.ValidationMessageFor(c => c.MeasurementUnitId)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4 text-right">
                                                        @Html.LabelFor(c => c.CategoryId, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(m => m.CategoryId, ViewBag.CategoryList as SelectList, new { @class = "form-control input-circle" })
                                                        @Html.ValidationMessageFor(c => c.CategoryId)
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-sm-4 text-right">
                                                        @Html.LabelFor(c => c.SubCategoryId, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-8">                                                       
                                                        @if (Model.SubCategoryId != null)
                                                        {
                                                            @Html.DropDownListFor(m => m.SubCategoryId, ViewBag.SubCategoryList as SelectList, new { @class = "form-control input-circle" })
                                                            @Html.ValidationMessageFor(c => c.SubCategoryId)
                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownListFor(m => m.SubCategoryId, new SelectList(" "), new { @class = "form-control input-circle", @disabled = true })
                                                            @Html.ValidationMessageFor(c => c.SubCategoryId)
                                                        }
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-sm-4 text-right">
                                                        @Html.LabelFor(c => c.SubSubCategoryId, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        @if (Model.SubSubCategoryId != null)
                                                        {
                                                            @Html.DropDownListFor(m => m.SubSubCategoryId, ViewBag.SubSubCategoryList as SelectList, new { @class = "form-control input-circle" })
                                                            @Html.ValidationMessageFor(c => c.SubSubCategoryId)
                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownListFor(m => m.SubSubCategoryId, new SelectList(" "), new { @class = "form-control input-circle", @disabled = true })
                                                            @Html.ValidationMessageFor(c => c.SubSubCategoryId)
                                                        }                                                            
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4 text-right"></div>
                                                    <div class="col-sm-8 text-right">
                                                        <button class="btn btn-circle btn-danger btn-xs" id="mappingSave" type="button">Add More</button>
                                                        @Html.HiddenFor(c => c.MapString)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4 text-right"></div>
                                                    <div class="col-sm-8" id="mapItem">
                                                        @if (Model.MapStringList != null && Model.MapStringList.Any())
                                                        {
                                                            foreach (var data in Model.MapStringList)
                                                            {
                                                        <div style="margin-top: 5px;">
                                                            <button class='btn btn-xs btn-circle btn-danger btn-delete' type='button'> <i class='fa fa-trash-o'></i> </button>
                                                            <span class="label label-success">@Html.Raw(data.MapName) </span>
                                                            <input type='hidden' class='map' value='@data.MapId' />
                                                        </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*End Mapping information section*@
                                        @*Price Information Section*@
                                        <div class="portlet box blue-hoki">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-gift"></i>Prices
                                                </div>
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-4 text-right">
                                                        @Html.LabelFor(c => c.PurchasePrice, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(c => c.PurchasePrice, new { @class = "form-control input-circle", placeholder = "Enter Purchase Price" })
                                                        @Html.ValidationMessageFor(c => c.PurchasePrice)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4 text-right">
                                                        @Html.LabelFor(c => c.SellingPrice, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(c => c.SellingPrice, new { @class = "form-control input-circle", placeholder = "Enter Selling Price" })
                                                        @Html.ValidationMessageFor(c => c.SellingPrice)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4 text-right">
                                                        @Html.LabelFor(c => c.IncludeVat, new { @class = "col-form-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-8 mt-2">
                                                        @Html.CheckBoxFor(c => c.IncludeVat, new { @class = "make-switch" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*Price Information End*@
                                        @*Employee Section*@
                                        <div class="portlet box blue-hoki">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-gift"></i>Employee Information
                                                </div>
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-4 text-right">
                                                        @Html.LabelFor(c => c.MerchandiserId, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(m => m.MerchandiserId, ViewBag.MerchandiserList as SelectList, new { @class = "form-control input-circle" })
                                                        @Html.ValidationMessageFor(c => c.MerchandiserId)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4 text-right">
                                                        @Html.LabelFor(c => c.DesignerId, new { @class = "control-label" })
                                                        <i class="ti-help-alt"></i>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(m => m.DesignerId, ViewBag.DesignerList as SelectList, new { @class = "form-control input-circle" })
                                                        @Html.ValidationMessageFor(c => c.DesignerId)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*Employee Section End*@
                                    </div>
                                </div>
                            </div>
                            @*Product Info End*@
                            @*Picture Section Start*@
                            <div class="tab-pane" id="picture">
                                @if (Model.ProductId == 0)
                                {
                                    <div class="portlet box blue-hoki margin-top-15">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-gift"></i>Product Color and Image
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <p>You need to save the product before you can upload pictures for this product page.</p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="portlet box blue-hoki margin-top-15">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-gift"></i>Product Name: <strong>@Model.ProductName</strong> &nbsp; &nbsp; SKU: <strong>@Model.Sku</strong>
                                                    </div>
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-hover" id="color-grid">
                                                            <thead>
                                                                <tr>
                                                                    <th>Picture 1</th>
                                                                    <th>Picture 2</th>
                                                                    <th>Picture 3</th>
                                                                    <th>Picture 4</th>
                                                                    <th>Product Name</th>
                                                                    <th>SKU</th>
                                                                    <th>Color Name</th>
                                                                    <th>Display Order</th>
                                                                    <th>Delete</th>
                                                                    <th class="hidden"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="portlet box blue-hoki margin-top-15">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-gift"></i>Add a new picture
                                                    </div>
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="portlet-body" id="ImageSave">
                                                    <div class="form-group row">
                                                        <div class="col-sm-2 text-right">
                                                            @Html.LabelFor(c => c.ColorId, new { @class = "control-label" })
                                                            <i class="ti-help-alt"></i>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            @Html.DropDownListFor(m => m.ColorId, new SelectList("", 1), new { @class = "form-control input-circle" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-2 text-right">
                                                            @Html.LabelFor(c => c.DisplayOrder, new { @class = "control-label" })
                                                            <i class="ti-help-alt"></i>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "form-control input-circle", @type="number" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group row" id="productPicSection">
                                                        <div class="col-sm-2 text-right">
                                                            @Html.LabelFor(c => c.Image1Base, new { @class = "control-label" })
                                                            <i class="ti-help-alt"></i>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="show-image-div">
                                                                <img id="showImage1" class="show-prev-img" style="width: 100px; height: 100px; border: 1px solid #ddd; padding: 3px;">
                                                            </div>
                                                            <div class="fileUpload btn btn-sm btn-primary btn-image">
                                                                <span><i class="fa fa-picture-o"></i> Choose Image 1</span>
                                                                @Html.TextBoxFor(m => m.Image1Base, "", new { @type = "file", @class = "imageUpload", @accept = "image/jpeg" })<br />
                                                            </div>
                                                            <br /><br /><p><span class="label label-danger">NOTE!</span> Ratio 600*800</p>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="show-image-div">
                                                                <img id="showImage2" class="show-prev-img" style="width: 100px; height: 100px; border: 1px solid #ddd; padding: 3px;">
                                                            </div>
                                                            <div class="fileUpload btn btn-sm btn-primary btn-image">
                                                                <span><i class="fa fa-picture-o"></i> Choose Image 2</span>
                                                                @Html.TextBoxFor(m => m.Image2Base, "", new { @type = "file", @class = "imageUpload", @accept = "image/jpeg" })<br />
                                                            </div>
                                                            <br /><br /><p><span class="label label-danger">NOTE!</span> Ratio 600*800</p>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="show-image-div">
                                                                <img id="showImage3" class="show-prev-img" style="width: 100px; height: 100px; border: 1px solid #ddd; padding: 3px;">
                                                            </div>
                                                            <div class="fileUpload btn btn-sm btn-primary btn-image">
                                                                <span><i class="fa fa-picture-o"></i> Choose Image 3</span>
                                                                @Html.TextBoxFor(m => m.Image3Base, "", new { @type = "file", @class = "imageUpload", @accept = "image/jpeg" })<br />
                                                            </div>
                                                            <br /><br /><p><span class="label label-danger">NOTE!</span> Ratio 600*800</p>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="show-image-div">
                                                                <img id="showImage4" class="show-prev-img" style="width: 100px; height: 100px; border: 1px solid #ddd; padding: 3px;">
                                                            </div>
                                                            <div class="fileUpload btn btn-sm btn-primary btn-image">
                                                                <span><i class="fa fa-picture-o"></i> Choose Image 4</span>
                                                                @Html.TextBoxFor(m => m.Image4Base, "", new { @type = "file", @class = "imageUpload", @accept = "image/jpeg" })<br />
                                                            </div>
                                                            <br /><br /><p><span class="label label-danger">NOTE!</span> Ratio 600*800</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-2 text-right">
                                                        </div>
                                                        <div class="col-sm-8 text-right">
                                                            @Html.HiddenFor(m => m.ImageId)
                                                            <button type="button" id="SaveColorAndImage" class="btn btn-primary btn-circle"><i class="fa fa-save"></i> Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                            @*Picture End*@

                            @*Size And Quantity Start*@
                            <div class="tab-pane" id="size">
                                <div class="portlet box blue-hoki margin-top-15 sizeDivMsg">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-gift"></i>Product Size and Quantity
                                        </div>
                                        <div class="tools">
                                            <a href="javascript:;" class="collapse" data-original-title="" title="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <p>You need to save the product Image before you can upload size & quantity for this product.</p>
                                    </div>
                                </div>

                                <div class="row sizeDiv" style="display: none">
                                    <div class="col-md-12">
                                        <div class="portlet box blue-hoki margin-top-15">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-gift"></i>Product Name: <strong>@Model.ProductName</strong> &nbsp; &nbsp; SKU: <strong>@Model.Sku</strong>
                                                </div>
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover" id="InventorySummary">
                                                        <thead>
                                                            <tr>
                                                                <th>Image</th>
                                                                <th>Product Name</th>
                                                                <th>SKU</th>
                                                                <th>Total Color</th>
                                                                <th>Total Size</th>
                                                                <th>Total Quantity</th>
                                                                <th>Details</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="portlet box blue-hoki">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-gift"></i> Add New Size and Quantity
                                                </div>
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="form-group row">
                                                    <label for="inputDate" class="col-sm-4 control-label text-right">Quantity Entry Date</label>
                                                    <div class="col-sm-4">
                                                        <input type="datetime" class="form-control input-circle showCalender" readonly="readonly" id="inputDate" value="@DateTime.Today.ToString("dd-MM-yyyy")">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-4 text-right" for="ColorForSize">Color</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control input-circle" id="ColorForSize" name="ColorForSize"></select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4 control-label text-right"></div>
                                                    <div class="col-sm-4">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-hover" id="SizeTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th><input type="checkbox" class="allGridCheck"></th>
                                                                        <th>Size</th>
                                                                        <th>Quantity</th>
                                                                        <th>Price</th>
                                                                        <th class="hidden"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="GridContent" id="GridBody">
                                                                    <tr class="GridFields">
                                                                        <td><input type="checkbox" class="singleGridCheck"></td>
                                                                        <td>
                                                                            <select class="form-control input-circle size-id" name="SizeId"></select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control input-circle quantity-value" name="QuantityValue" />
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control input-circle price-value" name="PriceValue" />
                                                                        </td>
                                                                        <td class="hidden"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="text-right">
                                                            <button class="btn btn-sm btn-success btn-circle addGridBtn" type="button">
                                                                <i class="fa fa-plus"></i> Add Row
                                                            </button>

                                                            <button class="btn btn-sm btn-danger btn-circle deleteGridBtn" type="button">
                                                                <i class="fa fa-minus"></i> Delete Row
                                                            </button>

                                                            <button class="btn btn-sm btn-info btn-circle" id="SaveSizeAndQty" type="button">
                                                                <i class="fa fa-save"></i> Save
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Modal for Inventory*@
                            <!-- Modal -->

                            <div class="modal fade bs-modal-lg" id="modalForInventory" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                            <h4 class="modal-title">Inventory Details For @Model.ProductName; &nbsp;&nbsp; SKU : <strong>@Model.Sku</strong></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row" style="margin-left: 5px;">
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <img src="@if (Model.PrimaryImageString != null)
                                                          {
                                                              @Path.Combine("/Files/ImageProductMain/", Model.PrimaryImageString)
                                                          }" style="width: 100%; height: 100%; border: 1px solid #ddd; padding: 3px;" />
                                                    </div>
                                                    <div class="form-group row">
                                                        <h5><strong>Product Name: </strong> @Model.ProductName<br /><br /></h5>
                                                        <h6><strong>SKU: </strong> @Model.Sku</h6><br />
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 InventoryInfo" id="InventoryInfo">
                                                    @if (Model.ProductId != 0)
                                                    {
                                                        Html.RenderAction("InventoryDetails", new { id = @Model.ProductId });
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>

                            <!--Size And Quantity End-->
                            <!-- Size Ratio Start -->
                            <div class="tab-pane" id="ratio">
                                <div class="portlet box blue-hoki margin-top-15 ratioDivMsg">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-gift"></i>Product Name: <strong>@Model.ProductName</strong> &nbsp; &nbsp; SKU: <strong>@Model.Sku</strong>
                                        </div>
                                        <div class="tools">
                                            <a href="javascript:;" class="collapse" data-original-title="" title="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <p>You need to save the product Size before you can upload size ratio for this product.</p>
                                    </div>
                                </div>

                                <div class="row ratioDiv" style="display: none">
                                    <div class="col-md-12">
                                        <div class="portlet box blue-hoki margin-top-15">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-gift"></i>Product Name: <strong>@Model.ProductName</strong> &nbsp; &nbsp; SKU: <strong>@Model.Sku</strong>
                                                </div>
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body" id="RatioChart">
                                                <div class="table-responsive">
                                                    @if (Model.ProductId != 0)
                                                    {
                                                        Html.RenderAction("RatioChartGrid", "ProductInventory", new { id = Model.ProductId });
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="portlet box blue-hoki margin-top-15">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-gift"></i> Add Size Ratio
                                                </div>
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-4 text-right" for="RatioForSize">Ratio</label>
                                                    <div class="col-sm-4">
                                                        <select class="form-control input-circle" id="RatioForSize" name="RatioForSize"></select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4 control-label text-right"></div>
                                                    <div class="col-sm-4">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-hover table-sm" id="RatioSizeTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th><input type="checkbox" class="allGridSizeCheck"></th>
                                                                        <th style="width: 50%;">Size</th>
                                                                        <th style="width: 50%;">Value</th>
                                                                        <th class="hidden"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="GridSizeContent" id="GridSizeBody">
                                                                    <tr class="GridSizeFields">
                                                                        <td><input type="checkbox" class="singleGridSizeCheck"></td>
                                                                        <td>
                                                                            <select class="form-control form-control size-for-ratio" name="SizeRatio"></select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control form-control size-value" name="SizeValue" />
                                                                        </td>
                                                                        <td class="hidden"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="text-right">
                                                            <button class="btn btn-sm btn-success btn-circle addGridSizeBtn" type="button">
                                                                <i class="fa fa-plus"></i> Add Row
                                                            </button>

                                                            <button class="btn btn-sm btn-danger btn-circle deleteGridSizeBtn" type="button">
                                                                <i class="fa fa-minus"></i> Delete Row
                                                            </button>

                                                            <button class="btn btn-sm btn-info btn-circle" id="SaveSizeAndRatio" type="button">
                                                                <i class="fa fa-save"></i> Save
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- Size Ratio End -->
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="//cdn.tinymce.com/4/tinymce.min.js"></script>

    <script>
        //For text Editor
        tinymce.init({ selector: 'textarea', width: '100%' });

        //Section For Add Delete Row From Table
        $(document).ready(function () {

            $("#mappingSave").prop("disabled", true);

            $("#mappingSave").click(function() {
                var categoryId = $("#CategoryId").val();
                var categoryName = $("#CategoryId option:selected").text();

                var subCategoryId = $("#SubCategoryId").val();
                var subCategoryName = $("#SubCategoryId option:selected").text();

                var subSubCategoryId = $("#SubSubCategoryId").val();
                var subSubCategoryName = $("#SubSubCategoryId option:selected").text();

                if ((!isNaN(categoryId) && categoryId) &&
                    (!isNaN(subCategoryId) && subCategoryId) &&
                    (!isNaN(subSubCategoryId) && subSubCategoryId)) {

                    var result = checkExist(categoryId, subCategoryId, subSubCategoryId);
                    if (result) {
                        $("#mapItem").append("<div style='margin-top:5px;'> <button class='btn btn-xs btn-circle btn-danger btn-delete' type='button'> <i class='fa fa-trash-o'></i></button>" +
                            "<span class='label label-success'>" + categoryName + " >> " + subCategoryName + " >> " + subSubCategoryName + "</span>" +
                            "<input type='hidden' class='map' value='" + categoryId + ", " + subCategoryId + ", " + subSubCategoryId + "'/>" +
                            "</div>");
                    } else {
                        alert("duplicate found please delete and add again");
                    }
                }
            });

            $("#mapItem").on('click', '.btn-delete', function() {
                var row = $(this).parent("div");
                row.remove();
            });

            function checkExist(id, subId, subSubId) {
                var check = 0;
                if ($(".map").length) {
                    $(".map").each(function () {
                        var value = $(this).val();
                        var ides = value.split(',');
                        if (parseInt(ides[0]) == id && parseInt(ides[1]) == subId && parseInt(ides[2]) == subSubId) {
                            check = 1;
                        }
                    });
                }
                if (check > 0) {
                    return false;
                } else {
                    return true;
                }
            }

            $(document).on('click', '.btn-pro-save', function (e) {
                e.preventDefault();
                var mapValue = "";

                if ($(".map").length) {
                    $(".map").each(function() {
                        var value = $(this).val();
                        mapValue += value + " | ";
                    });
                } else {
                    alert("one map is required");
                }

                if (mapValue != "") {
                    $("#MapString").val(mapValue);
                    $("#productDetails").submit();
                }
            });



            $(document).on('click', '#deleteProductSize', function () {
                var productId = $(this).data("productid");
                var colorId = $(this).data("colorid");
                var sizeId = $(this).data("sizeid");

                console.log(productId, colorId, sizeId);

                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure you want to delete this item???',
                    buttons: {
                        confirm: function () {
                            $.ajax({
                                type: 'POST',
                                url: '/ProductInventory/DeleteProductSize/',
                                data: { productId: productId, colorId: colorId, sizeId: sizeId },
                                dataType: 'json',
                                success: function (data) {
                                    @*$("#InventoryInfo").load('@{if (Model.ProductId != 0){ Html.RenderAction("InventoryDetails", new { id = @Model.ProductId });}}');*@
                                    $("#InventoryInfo").load(" #InventoryInfo > *");
                                    $.dialog({
                                        title: 'Confirm!',
                                        content: data
                                    });
                                },
                                error: function (ex) {
                                    $.dialog({
                                        title: 'Error!',
                                        content: ex
                                    });
                                }
                            });
                        },
                        cancel: function () {
                            $.dialog({
                                title: 'Confirm!',
                                content: 'Operation cancel.'
                            });
                        }
                    }
                });

                @*$.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure you want to delete this item???',
                    buttons: {
                        confirm: function () {
                            $.ajax({
                                type: 'POST',
                                url: '/ProductInventory/DeleteProductSize/',
                                data: { productId: productId, colorId: colorId, sizeId: sizeId },
                                dataType: 'json',
                                success: function (data) {
                                    $("#InventoryInfo").load('@{if (Model.ProductId != 0){ Html.RenderAction("InventoryDetails", new { id = @Model.ProductId });}}');
                                    $.dialog({
                                        title: 'Confirm!',
                                        content: data
                                    });
                                },
                                error: function (ex) {
                                    $.dialog({
                                        title: 'Error!',
                                        content: ex
                                    });
                                }
                            });
                        },
                        cancel: function () {
                            $.dialog({
                                title: 'Confirm!',
                                content: 'Operation cancel.'
                            });
                        }
                    }
                });*@
            });

            //Add & Delete Grid Details Field for size save
            $("#size").on('click', '.addGridBtn', function () {
                var markUp = $('.GridFields:eq( 0 )').clone();
                $('.GridContent').append(markUp).find(".GridFields:eq( -1 ) input[type='number'], hidden,.GridFields:eq( -1 ) select option:contains('Please select one')").val('').prop('selected', true);
                var rowNumber = $('#GridBody tr').length;
                $('#RowNumber').val(rowNumber);
            });

            $("#size").on('click', '.deleteGridBtn', function () {
                if (confirm('Are you sure to delete this record?') === true) {
                    $('.GridContent input:checkbox:checked').each(function () {
                        if ($('.allGridCheck').is(':checked')) {
                            $(this).parents('.GridContent').find('.GridFields:gt( 0 )').remove();
                            $('input[type="checkbox"]').prop('checked', false);
                            $(".size-id").val('');
                            $(".quantity-value").val('');
                        } else {
                            $(this).parents('.GridFields').remove();
                            $(this).parents('.GridContent').find('.GridFields:gt( 0 )').remove();
                        }
                    });
                    //$("#GridBody").load(" #GridBody > *");
                }
            });

            $("#SizeTable").on('click', '.allGridCheck', function () {
                if (this.checked) {
                    $('.GridContent input:checkbox').prop('checked', true);
                } else {
                    $('.GridContent input:checkbox').prop('checked', false);
                }
            });

            $("#SizeTable").on('click', '.singleGridCheck', function () {
                if ($('.singleGridCheck:checked').length == $('.singleGridCheck').length) {
                    
                    $('.allGridCheck:checkbox').prop('checked', false);
                } else {
                    $('.allGridCheck:checkbox').prop('checked', true);
                }

            });

            //Add & Delete Grid Details Field For Size Ratio
            $(document).on('click', '.addGridSizeBtn', function () {
                var markUp = $('.GridSizeFields:eq( 0 )').clone();
                $('.GridSizeContent').append(markUp).find(".GridSizeFields:eq( -1 ) input[type='number'], hidden,.BomGridSizeFields:eq( -1 ) select option:contains('Please select one')").val('').prop('selected', true);
                var rowNumber = $('#GridSizeBody tr').length;
                $('#RowNumber').val(rowNumber);
            });

            $(document).on('click', '.deleteGridSizeBtn', function () {
                if (confirm('Are you sure to delete this record?') === true) {
                    $('.GridSizeContent input:checkbox:checked').each(function () {
                        if ($('.allGridSizeCheck').is(':checked')) {
                            $(this).parents('.GridSizeContent').find('.GridSizeFields:gt( 0 )').remove();
                            $('input[type="checkbox"]').prop('checked', false);
                            $(".size-for-ratio").val('');
                            $(".size-value").val('');
                        } else {
                            $(this).parents('.GridSizeFields').remove();
                            $(this).parents('.GridSizeContent').find('.GridSizeFields:gt( 0 )').remove();
                        }
                    });
                    //$("#GridBody").load(" #GridBody > *");
                }
            });

            $(document).on('click', '.allGridSizeCheck', function () {
                if (this.checked) {
                    $('.GridSizeContent input:checkbox').prop('checked', true);
                } else {
                    $('.GridSizeContent input:checkbox').prop('checked', false);
                }
            });

            $(document).on('click', '.singleGridSizeCheck', function () {
                if ($('.singleGridSizeCheck:checked').length === $('.singleGridSizeCheck').length) {
                    $('.allGridSizeCheck:checkbox').prop('checked', true);
                } else {
                    $('.allGridSizeCheck:checkbox').prop('checked', false);
                }

            });
        });
            //End Section For Add Delete Row From Table
    </script>

    <script src="~/Scripts/ProductInventory.js"></script>
}