﻿@model IEnumerable<SaRaEcomAdmin.Models.ProductModel>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <div class="page-title">
        <h1>Manage Product</h1>
    </div>
    <div class="page-toolbar">
        <a href="@Url.Action("Create", "ProductInventory")" class="btn btn-circle btn-success"><i class="fa fa-plus-circle"></i> Add New</a>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Product List
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="sample_4">
                    <thead>
                        <tr>
                            <th class="table-checkbox"></th>
                            <th> Product Name </th>
                            <th> SKU </th>
                            <th class="hidden"> Category Name </th>
                            <th class="hidden"> Sub Category Name </th>
                            <th class="hidden"> Sub Sub Category Name </th>
                            <th class="hidden"> Unit Name </th>
                            <th class="hidden"> Fabric Name </th>
                            <th> Purchase Amount </th>
                            <th> Sell Amount </th>
                            <th> Status </th>
                            <th> Image </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        @{
        if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
        {
        <text>
            var message = '@ViewBag.message';


            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.success(message);
        </text>
        }
     }
        TableAdvanced.init();
    });

    var TableAdvanced = function () {
        var vForm = $('#__AjaxAntiForgeryForm');
        var vToken = $('input[name="__RequestVerificationToken"]', vForm).val();

        var initTable4 = function () {
            var table = $('#sample_4');

            var filePath = "E:\\SaRa\\Files\\ProductImage\\";

            var tableWrapper = $('#sample_4_wrapper'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
            var tableColumnToggler = $('#sample_4_column_toggler');

            var oTable = table.dataTable({
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "Show _MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },

                "columnDefs": [
                    {
                    "orderable": false,
                    "targets": [0]
                    },
                    {
                        "targets": [ 3 ],
                        "visible": false
                    },
                    {
                        "targets": [4],
                        "visible": false
                    },
                    {
                        "targets": [5],
                        "visible": false
                    },
                    {
                        "targets": [6],
                        "visible": false
                    },
                    {
                        "targets": [7],
                        "visible": false
                    }
                ],
                "aaSorting": [],
                
                "lengthMenu": [
                    [5, 15, 20, 50, -1],
                    [5, 15, 20, 50, "All"]// change per page values here
                ],
                // set the initial value
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    data: {
                        __RequestVerificationToken: vToken
                    },
                    url: '@Url.Action("GetProductList", "ProductInventory")',
                    type: 'POST'
                },
                "columns": [
                    {
                        "data": "ProductId",
                        render: function () {
                            return "<span class='row-details row-details-close'></span>";
                        }
                    },
                    { "data": "ProductName" },
                    { "data": "Sku" },
                    { "data": "CategoryName" },
                    { "data": "SubCategoryName" },
                    { "data": "SubSubCategoryName" },
                    { "data": "UnitName" },
                    { "data": "FabricName" },
                    { "data": "PurchasePrice" },
                    { "data": "SellPrice" },
                    {
                        "data": "IsActive",
                        "orderable": false,
                        render: function (data, type, productGrid) {
                            if (productGrid.IsActive) {
                                return "<p style='font-size: 16px;color: green;font-style: italic;text-transform: capitalize;font-weight: bold;letter-spacing: 1px;text-shadow: 1px 1px 1px grey;'> Active </p>";
                            } else {
                                return "<p style='font-size: 16px;color: red;font-style: italic;text-transform: capitalize;font-weight: bold;letter-spacing: 1px;text-shadow: 1px 1px 1px grey;'> Inactive </p>";
                            }
                        }
                    },
                    {
                        "data": "ProductImage",
                        "orderable": false,
                        render: function (data, type, productGrid) {
                            return "<img style='width: 50px;height: 50px;border: 1px solid #ddd;padding: 3px;'src='" + productGrid.ProductImage + "'/>";
                        }
                    },
                    {
                        "data": "ProductId",
                        "orderable": false,
                        render: function (data, type, productGrid) {
                            return "<a href='/ProductInventory/Edit/"+ productGrid.ProductId +"' class='btn btn-circle btn-default'>Edit</a>";
                        }
                    }
                ]
            });

            /* modify datatable control inputs */
            tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown

            /* Formatting function for row expanded details */
            function fnFormatDetails(oTable, nTr) {
                //var aData = oTable.fnGetData(nTr);
                var aData = $('#sample_4').dataTable().fnGetData(nTr);
                var sOut = '<table>';
                sOut += '<tr><td>Category Name:</td><td>' + nTr[2] + '</td></tr>';
                sOut += '<tr><td>Sub Category Name:</td><td>' + nTr[3] + '</td></tr>';
                sOut += '<tr><td>Sub Sub Category Name:</td><td>' + nTr[4] + '</td></tr>';
                sOut += '<tr><td>Measurement Unit:</td><td>' + nTr[5] + '</td></tr>';
                sOut += '<tr><td>Fabric Name:</td><td>' + nTr[6] + '</td></tr>';
                sOut += '<tr><td>Others:</td><td>Could provide a link here</td></tr>';
                sOut += '</table>';

                return sOut;
            }

            table.on('click', ' tbody td .row-details', function () {
                var nTr = $(this).parents('tr')[0];


                if (oTable.fnIsOpen(nTr)) {
                    /* This row is already open - close it */
                    $(this).addClass("row-details-close").removeClass("row-details-open");
                    oTable.fnClose(nTr);
                } else {
                    /* Open this row */
                    $(this).addClass("row-details-open").removeClass("row-details-close");
                    var aData = oTable.fnGetData(nTr);
                    var sOut = '<table>';
                    sOut += '<tr><td>Category Name:</td><td>' + aData.CategoryName + '</td></tr>';
                    sOut += '<tr><td>Sub Category Name:</td><td>' + aData.SubCategoryName + '</td></tr>';
                    sOut += '<tr><td>Sub Sub Category Name:</td><td>' + aData.SubSubCategoryName + '</td></tr>';
                    sOut += '<tr><td>Measurement Unit:</td><td>' + aData.UnitName + '</td></tr>';
                    sOut += '<tr><td>Fabric Name:</td><td>' + aData.FabricName + '</td></tr>';
                    sOut += '<tr><td>Others:</td><td>Watch more details Click on edit Button</td></tr>';
                    sOut += '</table>';
                    oTable.fnOpen(nTr, sOut, 'details');
                }
            });

            /* handle show/hide columns*/
            $('input[type="checkbox"]', tableColumnToggler).change(function () {
                /* Get the DataTables object again - this is not a recreation, just a get of the object */
                var iCol = parseInt($(this).attr("data-column"));
                var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
                oTable.fnSetColumnVis(iCol, (bVis ? false : true));
            });

        }

        return {

            //main function to initiate the module
            init: function () {

                if (!jQuery().dataTable) {
                    return;
                }
                initTable4();
            }

        };

    }();

</script>