﻿@model SaRaEcomAdmin.Models.AuthModel
<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="@Url.Action("Index","Home")">
            <img src="../../Content/img/logo-big.png" alt="logo" class="logo-default" />
        </a>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>
<!-- END RESPONSIVE MENU TOGGLER -->

    <!-- BEGIN PAGE ACTIONS -->
    <!-- DOC: Remove "hide" class to enable the page header actions -->
    <div class="page-actions">
        <!-- BEGIN PAGE TOOLBAR -->
        <div class="page-toolbar">
            <!-- BEGIN THEME PANEL -->
            <div class="btn-group btn-theme-panel">
                <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-settings"></i>
                </a>
                <div class="dropdown-menu theme-panel dropdown-custom hold-on-click" style="z-index: 999 !important; min-width: 384px !important; padding: 20px 10px !important; font-family: Open Sans, sans-serif;">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 seperator">
                            <h3>LAYOUT</h3>
                            <ul class="theme-settings">
                                <li>
                                    Header
                                    <select class="page-header-option form-control input-small input-sm">
                                        <option value="fixed" selected="selected">Fixed</option>
                                        <option value="default">Default</option>
                                    </select>
                                </li>
                                <li>
                                    Top Dropdowns
                                    <select class="page-header-top-dropdown-style-option form-control input-small input-sm">
                                        <option value="light">Light</option>
                                        <option value="dark" selected="selected">Dark</option>
                                    </select>
                                </li>
                                <li>
                                    Sidebar Mode
                                    <select class="sidebar-option form-control input-small input-sm">
                                        <option value="fixed">Fixed</option>
                                        <option value="default" selected="selected">Default</option>
                                    </select>
                                </li>
                                <li>
                                    Sidebar Menu
                                    <select class="sidebar-menu-option form-control input-small input-sm">
                                        <option value="accordion" selected="selected">Accordion</option>
                                        <option value="hover">Hover</option>
                                    </select>
                                </li>
                                <li>
                                    Sidebar Position
                                    <select class="sidebar-pos-option form-control input-small input-sm">
                                        <option value="left" selected="selected">Left</option>
                                        <option value="right">Right</option>
                                    </select>
                                </li>
                                <li>
                                    Footer
                                    <select class="page-footer-option form-control input-small input-sm">
                                        <option value="fixed">Fixed</option>
                                        <option value="default" selected="selected">Default</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END THEME PANEL -->
        </div>
        <!-- END PAGE TOOLBAR -->
    </div>
    <!-- END PAGE ACTIONS -->

<!-- BEGIN PAGE TOP -->
    <div class="page-top">
        <!-- BEGIN HEADER SEARCH BOX -->
        <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
        <form class="search-form" action="#" method="GET">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="Search..." name="query">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                </span>
            </div>
        </form>
        <!-- END HEADER SEARCH BOX -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="separator hide">
                </li>
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
                        <span class="badge badge-success">
                            @Model.TopReviews.Count()
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3><span class="bold">@Model.TopReviews.Count() pending</span> reviews</h3>
                            <a href="@Url.Action("ProductReview", "Catalog")">view all</a>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                @foreach (var data in Model.TopReviews)
                                {
                                    <li>
                                        <a href="@Url.Action("ProductReview", "Catalog")">
                                            <span class="time">@data.TimeAlert</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-success">
                                                    <i class="fa fa-bell-o"></i>
                                                </span>
                                                @Html.Raw(data.Name + " (" + data.Score + ")")
                                                <br/><p>@Html.Raw(data.Message)</p>
                                            </span>
                                        </a>
                                    </li>

                                    @*<li>
                                        <a href="#">
                                            <span class="photo">
                                                <i class="fa fa-bell-o"></i>
                                            </span>
                                            <span class="subject">
                                                <span class="from">
                                                    @Html.Raw(data.Name + " ("+ data.Score + ")")
                                                </span>
                                                <span class="time">@Html.Raw(data.TimeAlert) </span>
                                            </span>
                                            <span class="message">
                                                @Html.Raw(data.Message)...
                                            </span>
                                        </a>
                                    </li>*@
                                }
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->
                <li class="separator hide">
                </li>
                <!-- BEGIN INBOX DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-envelope-open"></i>
                        <span class="badge badge-danger">
                            @Model.TopMessages.Count()
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3>You have <span class="bold">@Model.TopMessages.Count() New</span> Messages</h3>
                            <a href="@Url.Action("Inbox", "Account")">view all</a>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                @foreach (var data in Model.TopMessages)
                                {
                                    <li>
                                        <a href="@Url.Action("Inbox", "Account")">
                                            <span class="photo">
                                                <img src="/Content/img/avatar9.jpg" class="img-circle" alt="">
                                            </span>
                                            <span class="subject">
                                                <span class="from">
                                                    @Html.Raw(data.Name)
                                                </span>
                                                <span class="time">@data.TimeAlert </span>
                                            </span>
                                            <span class="message">
                                                @Html.Raw(data.Message)...
                                            </span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- END INBOX DROPDOWN -->
                <li class="separator hide">
                </li>
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="username username-hide-on-mobile">
                            @Model.EmployeeName
                        </span>
                        <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                        
                        @if (!string.IsNullOrWhiteSpace(Model.EmployeeImage))
                        {
                            <img src="@Path.Combine("/Files/EmployeeImage/",Model.EmployeeImage)" class="img-circle" width="39" height="39" alt="@Model.EmployeeName">
                        }
                        else
                        {
                            <img alt="" class="img-circle" src="/Content/img/avatar9.jpg" />
                        }
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="@Url.Action("UserProfile", "Auth")">
                                <i class="icon-user"></i> My Profile
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Inbox", "Account")">
                                <i class="icon-envelope-open"></i> Inbox <span class="badge badge-danger">
                                    @Model.TopMessages.Count()
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ProductReview", "Catalog")">
                                <i class="icon-rocket"></i> Reviews <span class="badge badge-success">
                                    @Model.TopReviews.Count()
                                </span>
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-lock"></i> Lock Screen
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("LogOut", "Auth")">
                                <i class="icon-key"></i> Log Out
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->