﻿@model SaRaEcomAdmin.Models.PeoductInventoryDisplay
@foreach (var color in Model.ColorLists)
{
    <h3>@color.ColorName</h3>
    <hr/>
    <div class="table-responsive table-responsive-sm" id="productSizeTable">
        <table class="table table-bordered table-hover table-sm">
            <thead>
            <tr>
                @foreach (var size in color.SizeLists)
                {
                    <th>@size.SizeName</th>
                }
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                @{
                    int totalQuantity = 0;
                }

                @foreach (var size in color.SizeLists)
                {
                    totalQuantity = totalQuantity + size.Quantity;
                    <td><span class="label label-sm label-success">Qty: </span> @size.Quantity<br/><br/>
                        <span class="label label-sm label-success">Price: </span> @size.Price <br/><br />
                        <button type="button" data-productid ="@Model.ProductId" data-colorid="@color.ColorId" data-sizeid="@size.SizeId" id="deleteProductSize" class="btn btn-danger btn-xs"><span class="fa fa-trash-o"></span></button></td>
                }
                <td>@totalQuantity</td>
            </tr>
            </tbody>
        </table>
    </div>  
}

@*<script>
    $(document).ready(function () {
        $(document).on('click', '#deleteProductSize', function () {
            var productId = $(this).data("productid");
            var colorId = $(this).data("colorid");
            var sizeId = $(this).data("sizeid");

            $.confirm({
                title: 'Confirm!',
                content: 'Are you sure you want to delete this item???',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            type: 'POST',
                            url: '/ProductInventory/DeleteProductSize/',
                            data: { productId: productId, colorId: colorId, sizeId: sizeId },
                            dataType: 'json',
                            success: function (data) {
                                
                                $.dialog({
                                    title: 'Confirm!',
                                    content: data
                                });
                            },
                            error: function (ex) {
                                $.dialog({
                                    title: 'Error!',
                                    content: ex
                                });
                            }
                        });
                    },
                    cancel: function () {
                        $.dialog({
                            title: 'Confirm!',
                            content: 'Operation cancel.'
                        });
                    }
                }
            });

        });
        
    });
</script>*@