﻿@model SaRaEcomAdmin.Models.RatioChartDisplay

@if (!Model.RatioLists.Any())
{
    <p>No Data Found</p>
}
else
{
    <table class="table table-bordered table-hover">
            @{
                int i = 0;
            }
            @foreach (var data in Model.RatioLists)
            {
                <thead>
                    @if (i == 0)
                    {
                        <tr>
                            <td>Size</td>

                            @foreach (var sizeName in data.RatioSizeLists)
                            {
                                <td>@sizeName.SizeName</td>
                            }

                        </tr>
                    }
                </thead>
                <tbody>
                    <tr>
                        <td><strong>@data.RatioName</strong></td>

                        @foreach (var sizeName in data.RatioSizeLists)
                        {
                            <td>@sizeName.SizeValue</td>
                        }
                    </tr>
                </tbody>
                i = i + 1;

            }
        </table>

    @*foreach (var data in Model.RatioLists)
    {
        <h6>@data.RatioName</h6>
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    @foreach (var sizeName in data.RatioSizeLists)
                    {
                        <th>@sizeName.SizeName</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var sizeName in data.RatioSizeLists)
                    {
                        <td>@sizeName.SizeValue</td>
                    }
                </tr>
            </tbody>
        </table>
    }*@
}


